//-
 * colors.pug -- Render a color nuclide component
 *
 * Copyright (C) 2016 Michael Seibt
 *
 * With contributions from: -
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.

mixin colors-header()
  div.table.table--flex
    div.table__row.table__row--header
      div.table__cell.table__cell--head
      div.table__cell.table__cell--head Color
      div.table__cell.table__cell--head Variable
      div.table__cell.table__cell--head Hex
      div.table__cell.table__cell--head RGBA

mixin color(color)
  div.col
    a.SG-anchor(name=color.hash)
    div.tile.tile--clickable(data-d-copy, data-clipboard-text=color.name)
      div.tile__header
        div.tile__header-title #{color.name}
          if (color.deprecated)
            span.pill.pill--error deprecated
      div.tile__content
        div.SG-color-preview
          div.SG-color-preview__circle(style="background-color: " + color.values.hex + "; border-color: " + color.values.darker)
          div.SG-color-preview__typo(style="color: " + color.values.hex) Aa
      div.tile__footer
        div.grid
          div.col #{color.description}
          div.col.col--right
            div.pill #{color.values.hex}