//-
 * mixin.pug -- Render a mixin nuclide component
 *
 * Copyright (C) 2016 Michael Seibt
 *
 * With contributions from: -
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.

mixin mixins (mixins)
  -for(var m in mixins)
    +mixin(mixins[m].mixin)

mixin mixin (mixin)
  div.SG-component
    div.SG-row
      div.SG-gr-8
        div.SG-mixin
          a.SG-anchor(name=mixin.hash)
          span.SG-mixin__name #{mixin.name}
          span.SG-mixin__parameters #{mixin.signature}
          if (mixin.deprecated)
            span.SG-pill deprecated
          span.SG-mixin__file #{mixin.file}
      div.SG-gr-4.SG-txt-right
        if mixin.example
          div.SG-button.SG-button--ico(data-d-code-preview-toggle)
            span.SG-ico.SG-ico--code
            | Show example

    div.SG-row
      div.SG-gr-12
        div.SG-p #{mixin.description}

    -if(mixin.parameters.length > 0)
      div.SG-row
        div.SG-gr-12
          +mixin-parameters(mixin.parameters)

    if mixin.example
      div.SG-row
        div.SG-gr-12
          div.SG-code.SG-code--hidden.SG-component__markup.language-scss(data-d-code-preview)
            code #{mixin.example}

mixin mixin-parameters(parameters)

  div.table.table--small.table--flex.table--striped
    div.table__row.table__row--header
      div.table__cell.table__cell--head.col Parameter
      div.table__cell.table__cell--head.col Optional
      div.table__cell.table__cell--head.col.col--grow-3 Description
    -for(var p in parameters)
      div.table__row
        div.table__cell.col #{parameters[p].name}
        div.table__cell.col
          | !{parameters[p].optional ? '&#10004;' : '' }
        div.table__cell.col--grow-3 #{parameters[p].description}

