//-
 * nuclides.pug -- Render a generic nuclide component
 *
 * Copyright (C) 2016 Michael Seibt
 *
 * With contributions from: -
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.

mixin nuclide(nuclide)
  div.col
    a.SG-anchor(name=nuclide.hash)
    div.tile
      div.tile__header
        div.tile__header-title #{nuclide.name}
          if (nuclide.deprecated)
            span.pill.pill--error deprecated
      div.tile__content
        strong Value: &nbsp;
        span #{nuclide.value}
      div.tile__footer
        div.grid
          div.col #{nuclide.description}
          div.col.col--right
            div.pill.pill--primary.pill--action(data-d-copy, data-clipboard-text=nuclide.name) Copy variable


