@import 'variables/colours';
@import 'variables/sizings';
@import 'variables/config';

@import 'mixins/transition';
@import 'mixins/vendor-prefix';
@import 'mixins/color-modifiers';
@import 'mixins/svg-icon';
@import 'mixins/show-icon';

@import 'atoms/flex-grid';
@import 'atoms/typography';
@import 'atoms/content';
@import 'atoms/buttons';
@import 'atoms/icons';
@import 'atoms/helpers';
@import 'atoms/form-fields';

@import 'molecules/content-blocks';
@import 'molecules/tables';
@import 'molecules/breadcrumbs';
@import 'molecules/form-controls';

@import 'structures/header';
@import 'structures/layout';
@import 'structures/sidebar';
@import 'structures/modal';

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: $size-text-body;
}

body {
  background: $color-blackish;
  font-family: $font-primary;
  color: $color-contrast;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  @include vendor('box-shadow', 'inset 0 0 6px #{$color-blackish}');
  border-radius: 10px;
  background-color: $color-dark;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: $color-blackish;
}

::-webkit-scrollbar-thumb {
  @include vendor(box-shadow, 'inset 0 0 6px #{opacify($color-blackish, .3)}');
  border-radius: 10px;
  background-color: $color-contrast-half;
}
