// sass-lint:disable force-pseudo-nesting empty-line-between-blocks
/**
* @atom Icon sizings
* @section Icons
* @markup
*  <div class='grid grid--small'>
*     <div class='col col--center'><i class='icon ic-cancel icon--s'></i><br/>.icon--s</div>
*     <div class='col col--center'><i class='icon ic-cancel'></i><br/>.icon--m (default)</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--l'></i><br/>.icon--l</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--xl'></i><br/>.icon--xl</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--xxl'></i><br/>.icon--xxl</div>
*  </div>
*/
.icon {
  // sizes
  &:before,
  &--m:before {
    font-size: 1.4rem;
  }

  &--s:before {
    font-size: 1rem;
  }

  &--l:before {
    font-size: 2.4rem;
  }

  &--xl:before {
    font-size: 3rem;
  }

  &--xxl:before {
    font-size: 4.9090rem;
  }

  &--primary:before {
    color: $color-primary;
  }

  &--secondary:before {
    color: $color-secondary;
  }

  &--success:before {
    color: $color-success;
  }

  &--warn:before {
    color: $color-warn;
  }

  &--error:before {
    color: $color-error;
  }

  &--action {
    opacity: .5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}


/**
* @atom Icon Colours
* @section Icons
* @markup
*  <div class='grid'>
*     <div class='col col--center'><i class='icon ic-cancel icon--l '></i><br/>default</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--l icon--primary'></i><br/>.icon--primary</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--l icon--secondary'></i><br/>.icon--secondary</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--l icon--success'></i><br/>.icon--success</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--l icon--warn'></i><br/>.icon--warn</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--l icon--error'></i><br/>.icon--error</div>
*  </div>
*/
.icon--primary {
// sass-lint:disable-block no-empty-rulesets
}

%icon {
  // sass-lint:disable-block no-important
  @include vendor(font-smoothing, antialiased);
  font-family: 'pollen-icon' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: middle;
}

[data-icon]:before {
  @include vendor(font-smoothing, anitaliased);
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
}

[class^='ic-']:before,
[class*=' ic-']:before,
[data-icon]:before {
  @extend %icon;
}

/**
* @atom Icon Library
* @section Icons
* @markup
*  <h3><a href='/icon-library.html' class='text--primary' target='_blank'><i class='icon ic-link icon--xl'></i> See the icon library</a></h3>
*/
@font-face {
  font-family: '{{ fontName }}';
  src: {{{ src }}};
}

{{# if baseSelector }}
{{ baseSelector }}:before {
{{ else }}
{{ baseTag }}[class^="{{classPrefix}}"]:before, {{ baseTag }}[class*=" {{classPrefix}}"]:before {
{{/ if }}
  font-family: {{ fontName }} !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

{{# each codepoints }}
    {{# if ../baseSelector }}
{{ ../baseSelector }}.{{ @key }}:before {
    {{ else }}
{{ baseTag }}.{{ @key }}:before {
    {{/ if }}
  content: '\\{{ this }}';
}
{{/ each }}