/**
 * Primary colour
 *
 * @color
 * @section Palette
 */
$color-primary: #007aff;

/**
 * Secondary colour
 *
 * @color
 * @section Palette
 */
$color-secondary: #6f348d;

/**
 * Success colour
 * @color
 * @section Palette
 */
$color-success: #64bd64;

/**
 * Warn colour
 * @color
 * @section Palette
 */
$color-warn: #eec458;

/**
 * Error colour
 *
 * @color
 * @section Palette
 */
$color-error: #ee5862;


/**
 * Blackish
 *
 * @color
 * @section Greyscale
 */
$color-blackish: #161a20;

/**
 * Night
 *
 * @color
 * @section Greyscale
 */
$color-dark: #171a1f;

/**
 * Grey
 *
 * @color
 * @section Greyscale
 */
$color-grey: #2b333e;

/**
 * Charcoal Grey
 *
 * @color
 * @section Greyscale
 */
$color-charcoal: #1c1f24;

/**
 * Grey Lighter
 *
 * @color
 * @section Greyscale
 */
$color-lighter: #414b59;

/**
 * Slate
 * @color
 * @section Greyscale
 */
$color-slate: #222833;

/**
 * Contrast
 *
 * @color
 * @section Content
 */
$color-contrast: #fff;

/**
 *  Half contrast
 *
 * @color
 * @section Content
 */
$color-contrast-half: #5c6777;

/**
 * Cobalt
 *
 * @color
 * @section Tertiary
 */
$color-cobalt: #0095d4;

/**
 * Light blue
 *
 * @color
 * @section Tertiary
 */
$color-grey-blue: #58c0da;

/**
 * Lime Green
 *
 * @color
 * @section Tertiary
 */
$color-lightish-green: #6eda71;

/**
 * Yellow Build
 *
 * @color
 * @section Tertiary
 */
$color-sun-yellow: #ebd134;

/**
 * Orange Red
 *
 * @color
 * @section Tertiary
 */
$color-dark-peach: #de725f;

/**
 * Wisteria
 *
 * @color
 * @section Tertiary
 */
$color-wisteria: #b372d9;


/**
 * Teal
 *
 * @color
 * @section Tertiary
 */
$color-teal: #00a09a;

/**
 * Yellow Brown
 *
 * @color
 * @section Tertiary
 */
$color-yellow-brown: #bb8900;

/**
 * Blue gray
 *
 * @color
 * @section Tertiary
 */
$color-blue-gray: #95a6bd;

/**
 * Nice blue
 *
 * @color
 * @section Tertiary
 */
$color-nice-blue: #1561ca;
