/**
 * @nuclide grid gutter extra small
 * @section Grid/spacing sizings
 */
$size-grid-gutter-xs: .3636rem;
/**
 * @nuclide grid gutter small
 * @section Grid/spacing sizings
 */
$size-grid-gutter-s: .7272rem;
/**
 * @nuclide Grid gutter medium (default)
 * @section Grid/spacing sizings
 */
$size-grid-gutter-m: 1.4545rem;
/**
 * @nuclide Grid gutter (default)
 * @section Grid/spacing sizings
 */
$size-grid-gutter: $size-grid-gutter-m;
/**
 * @nuclide Grid gutter large
 * @section Grid/spacing sizings
 */
$size-grid-gutter-l: 2.909rem;
/**
 * @nuclide Grid gutter extra large
 * @section Grid/spacing sizings
 */
$size-grid-gutter-xl: 4.3636rem;
/**
 * @nuclide Grid gutter extra extra large
 * @section Grid/spacing sizings
 */
$size-grid-gutter-xxl: 5.8181rem;

/**
 * @nuclide body text size
 * @section Typography sizings
 */
$size-text-body: 15px;
/**
 * @nuclide small text size
 * @section Typography sizings
 */
$size-text-small: .83rem;
/**
 * @nuclide h1 text size
 * @section Typography sizings
 */
$size-h1-font: 2.488rem;
/**
 * @nuclide h2 text size
 * @section Typography sizings
 */
$size-h2-font: 2.074rem;
/**
 * @nuclide h3 text size
 * @section Typography sizings
 */
$size-h3-font: 1.728rem;
/**
 * @nuclide h4 text size
 * @section Typography sizings
 */
$size-h4-font: 1.44rem;
/**
 * @nuclide h5 text size
 * @section Typography sizings
 */
$size-h5-font: 1.2rem;

// element sizings
$size-info-circle: 5.2rem;
$size-info-circle-l: 6rem;
$size-header-height: 6rem;
$size-sidebar-width: 4.3636rem;

// breakpoints
$size-screen-sm: 480px;
$size-screen-md: 624px;
$size-screen-lg: 744px;

$size-content-padding: $size-grid-gutter;
