// sass-lint:disable no-color-keywords
$colors-map: (
  primary: $color-primary,
  secondary: $color-secondary,
  success: $color-success,
  warn: $color-warn,
  error: $color-error,
  cobalt: $color-cobalt,
  grey-blue: $color-grey-blue,
  lightish-green: $color-lightish-green,
  sun-yellow: $color-sun-yellow,
  dark-peach: $color-dark-peach,
  wisteria: $color-wisteria,
  teal: $color-teal,
  yellow-brown: $color-yellow-brown
);

$default-colors: 'primary', 'secondary', 'success', 'warn', 'error';

/**
 * Create a list of standard colour modifiers
 *
 * @mixin
 * @param $properties List: A list of properties to assign the colour value to
 * @param $colors List: A list of colour variable names to apply
 * @example
 *  @include color-modifiers([background-color, color]);
 *  @include color-modifiers([background-color], [primary, secondary, teal, wisteria]);
 */
@mixin color-modifiers($properties, $colors: $default-colors) {
  @each $color in $default-colors {
    &--#{$color} {
      @each $property in $properties {
        #{$property}: map-get($colors-map, $color);
      }
    }
  }
}
