/**
 * Create an icon based on a given svg path
 *
 * @mixin
 * @param $file-path The path of the file
 * @example
 *  @include svg-icon('../../assets/icons/cube.svg');
 */
@mixin svg-icon($file-path, $colour) {
  @extend .svg-icon;
  @include vendor('mask-image', url('#{$file-path}'));
  mask-image: url('#{$file-path}');
  background-color: $colour;
}
