//-
 * atoms.pug -- Compose the atoms page
 *
 * Copyright (C) 2016 Michael Seibt
 *
 * With contributions from: -
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.

extends ./common/layout.pug

include ./common/sections.pug

block title
  | Atoms

block nav
  -var selected = 'Atoms';

block content
  .SG-row
    .SG-gr-12
      h1 Atoms

  .SG-row
    .SG-gr-6
      h3 What are Atoms?

  .SG-row
    .SG-gr-6.SG-toc
      +toc(styles.Atoms)
    .SG-gr-6
      .SG-p.
        Atoms are the very basic elements of the stylesheet. Imagine every single-class element or selector rules as an atom. Examples could be buttons, links, headlines, inputs ... you get it, right?
      .SG-p.
        To mark an element as an atom, annotate it with the <span class="SG-strong">@atom</span> tag, followed by the name of the component. Special atoms are <span class="SG-strong">@icons</span>.

  if meta.demo
    include ./common/demo.pug

  if styles.Atoms
    +section-second-level(styles.Atoms)


