/**
 * Breadcrumbs navigation list
 * @molecule Breadcrumbs
 * @section Breadcrumbs
 * @markup
 *  <ul class="breadcrumbs">
 *    <li>
 *      <a>Item 1</a>
 *    </li>
 *    <li>
 *      <a>Item 2</a>
 *    </li>
 *  </ul>
 */

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  & li {
    color: $color-contrast;
    font-family: $font-primary;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;

    &::after {
      color: $color-contrast;
      content: '\2192';
      display: inline-block;
      margin: 0 1em;
    }

    &:last-of-type {
      &::after {
        content: '';
        display: none;
      }
    }

    & a {
      text-decoration: none;
      padding: 1em 0;
      cursor: pointer;
    }
  }
}
