/**
 * @molecule Link block
 * @section Content Blocks
 * @markup
 *  <div class="link-block">
 *   <a class="link-block__item">Option 1</a>
 *   <a class="link-block__item">Option 2</a>
 *   <a class="link-block__item link-block__item--active">Option 3</a>
 *   <a class="link-block__item">Option 4<a>
 *  </div>
 */

.link-block {
  max-width: 200px;
  box-shadow: 0 0 20px 0 opacify($color-blackish, .3);
  background-color: $color-charcoal;

  &__item {
    line-height: 1.3em;
    padding: 2em;
    cursor: pointer;
    display: block;

    &--active,
    &:hover {
      background: $color-slate;
    }
  }
}


/**
 * Accordion content block
 * @molecule Accordion
 * @section Content Blocks
 * @markup
 *  <div class="accordion">
 *    <input class="accordion__toggle" type="checkbox" id="accordion1">
 *    <label class="accordion__label" for="accordion1">Accordion 1 heading</label>
 *    <div class="accordion__content">
 *      @{lipsum:1:paragraph}
 *    </div>
 *  </div>
 *  <div class="accordion">
 *    <input class="accordion__toggle" type="checkbox" id="accordion2">
 *    <label class="accordion__label" for="accordion2">Accordion 2 heading <span class="pill pill--small pill--spaced">13</span></label>
 *    <div class="accordion__content">
 *      @{lipsum:1:paragraph}
 *    </div>
 *  </div>
  *  <div class="accordion">
 *    <input class="accordion__toggle" type="checkbox" id="accordion3">
 *    <div class="accordion__header">
 *      <label class="accordion__label" for="accordion3">
 *        Accordion 2 heading <span class="accordion__pill">13</span>
 *      </label>
 *      <div class="accordion__header-action"><i class="icon ic-edit icon--action"></i></div>
 *    </div>
 *    <div class="accordion__content">
 *      @{lipsum:1:paragraph}
 *    </div>
 *  </div>
 */
.accordion {
  @extend .content-block;
  overflow: hidden;
  position: relative;
  margin-bottom: $size-grid-gutter;
  padding: 0;

  .accordion__toggle {
    opacity: 0;
    z-index: -1;
    position: absolute;

    &:checked {
      + .accordion__header > .accordion__label {
        &:before {
          transform: rotate(90deg);
        }
      }

      + .accordion__label {
        &:before {
          transform: rotate(90deg);
        }
      }

      ~ .accordion__content {
        max-height: 100vh;
        padding-top: $size-grid-gutter;
        border-top: 1px solid $color-dark;
        margin-top: $size-grid-gutter;
        margin-bottom: $size-grid-gutter;
      }
    }

  }

  &__header {
    display: flex;
  }

  .accordion__label {
    background: $color-grey;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    flex: 1;
    padding: $size-grid-gutter;

    /* Icon */
    &::before {
      @include transition(all);
      content: '\276F';
      width: 1.5em;
      text-align: center;
    }
  }

  &__label-heading {
    flex: 1;
  }

  &__header-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: $size-grid-gutter;
  }

  &__pill {
    background: $color-lighter;
    font-size: $size-text-small;
    font-weight: normal;
    padding: .2rem .5rem;
    border-radius: 4px;
    display: inline-block;
    margin-left: 1rem;

    &--error {
      background: $color-error;
    }

    &--warn {
      background: $color-warn;
    }

    &--success {
      background: $color-success;
    }
  }

  &__content {
    max-height: 0;
    transition: all .2s;
    overflow: hidden;
    border-color: $color-dark;
    margin-top: 0 !important;
    padding: 0 $size-grid-gutter ;
    margin-bottom: $size-grid-gutter;
  }
}

/**
 * Two level nested accordions
 * @molecule Nested Accordion
 * @section Content Blocks
 * @markup
 *  <div class="accordion accordion--nested">
 *    <input class="accordion__toggle" type="checkbox" id="accordion4">
 *    <label class="accordion__label" for="accordion4">Accordion 1 heading</label>
 *    <div class="accordion__content">
 *      <div class="accordion">
 *        <input class="accordion__toggle" type="checkbox" id="accordion5">
 *        <div class="accordion__header">
 *          <label class="accordion__label" for="accordion5">
 *             Accordion 2 heading <span class="accordion__pill">13</span>
 *          </label>
 *          <div class="accordion__header-action"><i class="icon ic-edit icon--action"></i></div>
 *       </div>
 *       <div class="accordion__content">
 *         @{lipsum:1:paragraph}
 *       </div>
 *      </div>
 *    </div>
 *  </div>
 *  <div class="accordion">
 *    <input class="accordion__toggle" type="checkbox" id="accordion6">
 *    <label class="accordion__label" for="accordion6">Accordion 2 heading <span class="pill pill--small pill--spaced">13</span></label>
 *    <div class="accordion__content">
 *      @{lipsum:1:paragraph}
 *    </div>
 *  </div>
 */
.accordion--nested {
  background-color: $color-dark;

  > .accordion__toggle {
    &:checked {
    
      ~ .accordion__content {
        margin-bottom: 0;
      }
    }
  }

  > .accordion__content {
    .accordion {
      > .accordion__content {
        padding-left: $size-grid-gutter-l;
        padding-right: $size-grid-gutter-l;
      }
    }
  }
}

/**
 * Tile content block
 * @molecule Tile
 * @section Content Blocks
 * @markup
 *  <div class="tile">
 *    <div class="tile__header">
 *       <div class="tile__header-title">Tile Header</div>
 *       <div class="tile__header-info">ID</div>
 *    </div>
 *    <div class="tile__content">
 *       this is the content in the tile
 *    </div>
 *    <div class="tile__footer">
 *       <div class="grid">
 *          <div class="col opacity--80">
 *              tile footer info
 *          </div>
 *          <div class="col col--righty col--right">
 *             <div class="pill pill--small">
 *                 1.0.0
 *              </div>
 *          </div>
 *       </div>
 *    </div>
 *  </div>
 */
.tile {
  @extend .content-block;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: $size-grid-gutter-s;
  }

  &__header-title {
    @extend .heading__h4;
    flex: 1;
    margin: 0;
  }

  &__header-info {
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $color-primary;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    line-height: 2rem;
  }

  &--clickable {
    @include transition(background-color);

    &:hover {
      cursor: pointer;
      background: lighten($color-grey, 5%);
    }
  }

  &__content {
    margin: $size-grid-gutter-s 0;
  }

  &__footer {
    color: $color-contrast-half;
  }
}




/**
 * Section Block
 * @molecule Section Block
 * @section Content Blocks
 * @markup
 *  <div class="grid">
 *    <div class="col col--3 section-block">
 *      <div class="section-block__title">Section Block</div>
 *      <p> this is a section block sub title</p>
 *    </div>
 *    <div class="col col--3 section-block section-block--dragged">
 *      <div class="section-block__title">Section Block</div>
 *      <p> this is a section block sub title</p>
 *    </div>
 *  </div>
 * @modifiers
 *   .section-block--dragged what the block will look like when dragged
 */
.section-block {
  border: 1px solid $color-contrast;
  border-radius: 10px;
  background-color: $color-grey;
  padding: 1.3rem;

  &__title {
    font-size: 1.2rem;
    color: $color-contrast;
    font-weight: bold;
  }

  &--dragged {
    border-style: dashed;
  }
}
