/**
 * @molecule Slider
 * @section Form Controls
 * @markup
 *   <div class="slider">
 *     <ul class="slider__datalist">
 *        <li>S</li>
 *        <li>M</li>
 *        <li>L</li>
 *        <li>XL</li>
 *        <li>XXL</li>
 *     </ul>
 *     <input class="slider__input" type="range" min="0" max="4" />
 *   </div>
 */

// @todo this works with an actual <datalist> element in self serve but seems that datalist option:last-child doesn't work in chrome
// generally. see: https://jsfiddle.net/r5b94Lsg/
// Raised with Chromium: https://bugs.chromium.org/p/chromium/issues/detail?id=990767#c5
.slider {
  $slider-thumb-size: 14px;
  $slider-border-size: 4px;
  $slider-track-height: 14px;
  $slider-tick-size: 6px;

  &__labels {
    display: flex;
    flex-direction: row;
  }

  &__label {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &__input {
    @include vendor('appearance', 'none');
    width: 100%;
    margin: 0;
    background: none;
    outline: none;
    padding: 0;
    border-bottom: 0;

    &::-webkit-slider-container {
      height: 30px;
    }

    &::-webkit-slider-runnable-track {
      @include vendor('appearance', 'none');
      height: $slider-track-height;
      color: $color-lighter;
      background: $color-lighter;
      transition: box-shadow .2s ease-in-out;
      border-radius: .7rem;
    }

    &::-webkit-slider-thumb {
      @include vendor('appearance', 'none');
      width: $slider-thumb-size;
      height: $slider-thumb-size;
      border-radius: $slider-thumb-size;
      background: $color-secondary;
      border: $slider-border-size solid $color-contrast;
      box-sizing: content-box;
      margin-top: -$slider-border-size;
      cursor: grab;
      z-index: 5;
      box-shadow: inset 0 1px 3px 0 $color-grey, 0 1px 3px 0 $color-grey;
      position: relative;
      transition: all .2s;
    }
  }

  &__datalist {
    display: flex;
    margin: 0;
    padding: 0 (($slider-thumb-size / 2) + $slider-border-size);
    list-style: none;

    > li,
    > option {
      flex: 2;
      display: flex;
      justify-content: center;
      position: relative;
      padding: 0;
      margin: 0;
      list-style: none;

      &:first-child {
        justify-content: flex-start;
        flex: 1;
        right: (($slider-thumb-size + $slider-border-size) / 2) + ($slider-tick-size / 3);

        &:after {
          left: $slider-tick-size;
        }
      }

      &:last-child {
        justify-content: flex-end;
        flex: 1;
        left: (($slider-thumb-size + $slider-border-size) / 2) + ($slider-tick-size / 3);

        &:after {
          right: $slider-tick-size
        }
      }

      &:after {
        content: '';
        width: $slider-tick-size;
        height: $slider-tick-size;
        background-color: $color-contrast;
        position: absolute;
        bottom: -18px;
        border-radius: $slider-tick-size;
        z-index: 1;
      }
    }
  }
}

/**
 * Form input control for validation and presentation purposes.
 * @molecule Input Control
 * @section Form Controls
 * @markup
 *  <div class="input-control__container">
 *      <label class="input-control__label" for="input-1">Client Name</label>
 *      <input placeholder="enter text" type="text" id="input-1"/>
 *   </div>
 *  <div class="input-control__container input-control__container--error">
 *      <label class="input-control__label" for="input-2">Container error</label>
 *      <input placeholder="enter text" type="text" id="input-2"/>
 *   </div>
 *  <div class="input-control__container">
 *      <label class="input-control__label" for="input-3">Invalid input</label>
 *      <input placeholder="enter text" type="text" class="input-control__input--invalid" id="input-3"/>
 *   </div>
 *  <div class="input-control__container">
 *      <label class="input-control__label" for="input-4">With Error</label>
 *      <input placeholder="enter text" type="text" class="input-control__input--invalid" id="input-4"/>
 *      <i class="input-control__input-icon ic-search"></i>
 *      <div class="input-control__error"><i class="icon ic-error"></i> Input validation error</div>
 *   </div>
 *  <div class="input-control__container">
 *      <label class="input-control__label" for="input-5">Read only</label>
 *      <input placeholder="enter text" type="text" id="input-5" readonly value="field value"/>
 *   </div>
 */
.input-control {
  $label-width: 13.5rem;

  &__container {
    margin-bottom: $size-grid-gutter-xs;
    position: relative;

    &--no-label {
      > input {
        padding-left: 0;
      }
    }

    > label,
    > .input-control__label {
      font-weight: bold;
      position: absolute;
      left: 0;
      top: $size-grid-gutter-xs;
    }

    > input,
    .input-control__input {
      width: 100%;
      padding-left: $label-width;

      &.input-control__input--no-label {
        padding-left: 0;
      }

      &:invalid,
      &.input-control__input--invalid {
        border-color: $color-error !important; // sass-lint:disable-line no-important -- used for material override
      }
    }

    > textarea {
      outline: none;
      resize: none;
      background: none;
      border: none;
      height: 100%;
      width: 100%;
      color: $color-contrast;
      border: 1px solid rgba($color:  $color-contrast, $alpha: .5);
      border-radius: 5px;
      padding: ($size-grid-gutter-s + $size-grid-gutter-xs) $size-grid-gutter-s;

      &::-webkit-scrollbar {
        width: 6px !important;
      }

      &::-webkit-scrollbar-track {
        background: none;
      }
    }

    &--error {
      > input,
        textarea {
          border-color: $color-error;
        }
    }
  }

  &__input-icon {
    position: absolute;
    top: 0;
    right: $size-grid-gutter;

    &:before {
      font-size: $size-h5-font;
    }
  }

  &__error {
    color: $color-error;
    padding: $size-grid-gutter-xs 0;
  }
}

/**
 * Form textarea control
 * @molecule Textarea Control
 * @section Form Controls
 * @markup
 *  <div class="input-control__container">
 *    <textarea>
 *      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in ultrices massa, ut posuere elit.
 *    </textarea>
 *  </div>
 *  <div class="input-control__container input-control__container--error">
 *    <textarea>
 *      Invalid values in the textarea
 *    </textarea>
 *  </div>
 */
textarea {}


/**
 * A true/false toggle using a checkbox
 * @molecule Checkbox toggle
 * @section Form Controls
 * @markup
 *  <div class="toggle">
 *    <input type="checkbox" class="toggle__input" id="toggle"/>
 *    <label class="toggle__label toggle__label--false" for="toggle">off</label>
 *    <label class="toggle__label" for="toggle">on</label>
 *  </div>
 */
.toggle {
  display: flex;

  > .toggle__input {
    width: 25px;
    height: 9px;
    background: $color-lighter;
    border: 0;
    position: relative;
    border-radius: 4px;

    &:before {
      content: '';
      position: absolute;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: $color-contrast;
      left: 0;
      top: -2px;
      transition: all 200ms;
    }

    &:checked {
      &:after {
        display: none;
      }

      &:before {
        left: calc(25px - 13px);
      }

      & ~ .toggle__label {
        color: $color-contrast;
      }

      & ~ .toggle__label--false {
        color: $color-contrast-half;
      }

    }
  }

  > .toggle__label {
    margin: 0 $size-grid-gutter-s;
    font-weight: 700;
    transition: color 200ms;
    color: $color-contrast-half;

    &--false {
      order: -1;
      color: $color-contrast;
    }
  }
}

/**
 * @molecule Multiselect dropdown
 * @section Dropdown
 * @markup
 * <div class="dropdown">
 *   <div class="dropdown__content">
 *    <label for="dropdown">Show/Hide <i class="ic-arrow-drop-down"></i> </label>
 *    <input type="checkbox" id="dropdown" class="toggle" style="display:none">
 *    <div class="dropdown__select-menu">
 *      <div class="input-control__container">
 *        <input placeholder="filter" type="text" class="input-control__input input-control__input--no-label"/>
 *        <i class="input-control__input-icon ic-search"></i>
 *      </div>
 *      <div class="dropdown__item"><input type="checkbox" id="rules"> <label for="rules">Rules</label></div>
 *      <div class="dropdown__item"><input type="checkbox" id="item1"> <label for="item1">Item 1</label></div>
 *      <div class="dropdown__item"><input type="checkbox" id="item2"> <label for="item2">Item 2</label></div>
 *      <div class="dropdown__item"><input type="checkbox" id="item3"> <label for="item3">Item 3</label></div>
 *    </div>
 *   </div>
 * </div>
 */
.dropdown {

  &__content {
    position: relative;

    input[type='checkbox'] {
      &:checked + .dropdown__select-menu {
        display: table;
      }
    }
  }

  &__select-menu {
    @include transition();
    display: none;
    width: 100%;
    box-shadow: 0 0 20px 0 opacify($color-blackish, .3);
    background-color: $color-charcoal;
    position: absolute;
    top: 2rem;
    z-index: 1;
    padding: $size-grid-gutter;

  }

  &__item {
    display: flex;
    padding: ($size-grid-gutter / 2) 0;
    align-items: center;

    label {
      flex: 1;
    }

    &:hover {
      background: $color-slate;
    }
  }
}

