/**
 * @molecule Table
 * @section Table
 * @markup
 *  <table class="table--striped">
 *   <tr class="table__row--header">
 *     <th>Column 1</th>
 *     <th>Column 2</th>
 *     <th>Column 3</th>
 *    </tr>
 *    <tr>
 *      <td>Data 1</td>
 *       <td>Data 2</td>
 *       <td>Data 3</td>
 *     </tr>
 *     <tr>
 *       <td>Data 2.1</td>
 *       <td>Data 2.2</td>
 *       <td>Data 2.3</td>
 *     </tr>
 *     <tr>
 *       <td>Data 3.1</td>
 *       <td>Data 3.2</td>
 *       <td>Data 3.3</td>
 *      </tr>
 *    </table>
 *  <br/>
 *  <table class="table--striped table--small">
 *   <tr class="table__row--header">
 *     <th>Column 1</th>
 *     <th>Column 2</th>
 *     <th>Column 3</th>
 *    </tr>
 *    <tr>
 *      <td>Data 1</td>
 *       <td>Data 2</td>
 *       <td>Data 3</td>
 *     </tr>
 *     <tr>
 *       <td>Data 2.1</td>
 *       <td>Data 2.2</td>
 *       <td>Data 2.3</td>
 *     </tr>
 *     <tr>
 *       <td>Data 3.1</td>
 *       <td>Data 3.2</td>
 *       <td>Data 3.3</td>
 *      </tr>
 *    </table>
 */

table,
.table {
  width: 100%;
  border: 0;
  margin: 0;
  display: table;
  border-collapse: collapse;

  > tr {
    height: auto;
  }

  th {
    @extend .table__cell--head;
  }

  td,
  .table__cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 1.2rem;
    border-bottom: 1px solid $color-dark;
    border-right: 1px solid $color-dark;
    border-top: 0;
    border-left: 0;

    &:last-child {
      border-right: 0;
    }
  }

  th,
  .table__cell--head {
    @extend .table__cell;
    font-weight: bold;
    font-size: 1.1rem;
    background: $color-grey;
  }

  &--striped {
    tr,
    .table__row {
      &:nth-child(even) {
        @extend .table__row--alt;
      }
    }
  }

  &--small {
    tr > td,
    tr > th,
    .table__cell {
      font-size: 1rem;
      padding: $size-grid-gutter-s;
    }
  }

  &--scrollable {
    th, .table__cell--head {
      position: sticky;
      top: 0;
    }
  }
}

.table__row,
tr {
  display: table-row;
  background: $color-charcoal;
  border: 0;
  height: auto;

  &--header {
    background: $color-grey;
    height: auto;

    > .table__cell {
      @extend .table__cell--head;
    }
  }

  &--alt {
    background: $color-lighter;
  }

  &--hover {
    &:hover {
      cursor: pointer;
      background: $color-slate !important; // sass-lint:disable-line no-important -- used for material override
    }
  }
}


/**
 * A scrollable table with static header row that will be scrollable if it's container restricts it's height.
 * @molecule Scrollable table
 * @section Table
 * @markup
 *   <div style="height:200px;" class="scrollable scrollable--no-scrollbar">
 *  <table class="table--striped table--scrollable">
 *     <tr class="table__row--header">
 *       <th class="col col--grow-2">Column 1</th>
 *       <th>Column 2</th>
 *       <th>Column 3</th>
 *      </tr>
 *      <tr>
 *        <td class="col col--grow-2">Data 1</td>
 *         <td>Data 2</td>
 *         <td>Data 3</td>
 *       </tr>
 *       <tr>
 *         <td class="col col--grow-2">Data 2.1</td>
 *         <td>Data 2.2</td>
 *         <td>Data 2.3</td>
 *       </tr>
 *       <tr>
 *         <td class="col col--grow-2">Data 3.1</td>
 *         <td>Data 3.2</td>
 *         <td>Data 3.3</td>
 *        </tr>
 *       <tr>
 *         <td class="col col--grow-2">Data 3.1</td>
 *         <td>Data 3.2</td>
 *         <td>Data 3.3</td>
 *        </tr>
 *        <tr>
 *         <td class="col col--grow-2">Data 3.1</td>
 *         <td>Data 3.2</td>
 *         <td>Data 3.3</td>
 *        </tr>
 *       <tr>
 *         <td class="col col--grow-2">Data 3.1</td>
 *         <td>Data 3.2</td>
 *         <td>Data 3.3</td>
 *        </tr>
 *        <tr>
 *         <td class="col col--grow-2">Data 3.1</td>
 *         <td>Data 3.2</td>
 *         <td>Data 3.3</td>
 *        </tr>
 *    </table>
 *    </div>
 */



/**
 * Use the table stylings around a flex grid, each cell can have it's own col sizings based on the grid system.
 * @molecule Flex based table
 * @section Table
 * @markup
 *  <table class="table--striped table--flex">
 *   <tr class="table__row--header">
 *     <th class="col col--grow-2">Column 1</th>
 *     <th>Column 2</th>
 *     <th>Column 3</th>
 *    </tr>
 *    <tr>
 *      <td class="col col--grow-2">Data 1</td>
 *       <td>Data 2</td>
 *       <td>Data 3</td>
 *     </tr>
 *     <tr>
 *       <td class="col col--grow-2">Data 2.1</td>
 *       <td>Data 2.2</td>
 *       <td>Data 2.3</td>
 *     </tr>
 *     <tr>
 *       <td class="col col--grow-2">Data 3.1</td>
 *       <td>Data 3.2</td>
 *       <td>Data 3.3</td>
 *      </tr>
 *    </table>
 */

.table--flex {
  width: 100%;
  border: 0;
  margin: 0;
  display: table;

  .table__row,
  tr {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  td,
  th,
  .table__cell {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col {
    margin: 0;
  }
}
