//-
 * components.pug -- Render a single component based on the type
 *
 * Copyright (C) 2016 Michael Seibt
 *
 * With contributions from: -
 *  - Ryan Potter (www.ryanpotter.co.nz)
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.

include ../entities/nuclides.pug
include ../entities/colors.pug
include ../entities/icons.pug
include ../entities/mixins.pug



mixin components(components)

  -var lastEntity = null
  each component in components

    //- Color preview
    if component.type === 'color'
      +color(component)

    //- Mixin
    if component.type === 'mixin'
      +mixin(component)

    //- Icon
    if component.type === 'icon'
      +icon(component)

    if component.type === 'nuclide'
      +nuclide(component)

    //- Everything else
    if (component.type === 'atom') || (component.type === 'structure') || (component.type === 'molecule')
      +component(component)

    //- End the loop with remembering the last entity
    -lastEntity = component


mixin component(component)
  div.SG-component
    a.SG-anchor(name=component.hash)
    div.SG-row
      div.SG-gr-8
        h4.heading_h4--secondary #{component.name}
          if (component.deprecated)
            span.SG-pill deprecated
      div.SG-gr-4.SG-txt-right
        if (component.markup)



          button.button.button--wrap(data-d-code-preview-toggle)
            i.SG-ico.SG-ico--code
            | Show example
          | &nbsp;
          div.button.button--primary(data-d-copy, data-clipboard-text=component.markup)
              i.SG-ico.SG-ico--copy
              | Copy markup


    div.SG-row
      div.SG-gr-12.SG-nogutter
        div.SG-p.SG-component__preview--description #{component.description}

    if (component.flags && component.flags.fullWidth)
      div.SG-row.SG-row-full
        div.SG-gr-12.SG-no-gutter.SG-component__preview(class=meta.namespace)
          | !{component.markup}
    else
      if (component.flags && component.flags.inline)
        div.SG-row.SG-row
          div.SG-gr-12.SG-component__preview.SG-component__preview--inline(class=meta.namespace)
            | !{component.markup}
      else
        div.SG-row
          div.SG-gr-12.SG-component__preview(class=meta.namespace)
            | !{component.markup}

    -if (component.markup)

      div.SG-row
        div.SG-gr-12.SG-nogutter
          div.SG-code.SG-code--hidden.SG-component__markup.language-html(data-d-code-preview)
            code
              | #{component.markup}

    -if (component.script)
        div.SG-row
            div.SG-gr-12.SG-nogutter
                h3.SG-code__title.
                    Script
                div.SG-code.SG-code--hidden.SG-component__markup.language-javascript(data-d-code-preview)
                    code
                        | #{component.script}

    -if (component.modifiers)
      div.SG-row
        div.SG-gr-12
          h4.SG-h5 #{component.name} Modifiers
          div.table.table--small.table--flex.table--striped
            div.table__row.table__row--header
              div.table__cell.table__cell--head.col Modifier
              div.table__cell.table__cell--head.col--grow-3 Description
            each val in component.modifiers
              div.table__row
                div.table__cell.col= val.class
                div.table__cell.col--grow-3= val.description || ''
