//-
 * header.pug -- Render the style guide header
 *
 * Copyright (C) 2016 Michael Seibt
 *
 * With contributions from: -
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.

block nav
  -var selected = 'nuclides'; //default

-var menu = {'Nuclides': 'nuclides.html', 'Atoms': 'atoms.html', 'Molecules': 'molecules.html', 'Structures' : 'structures.html' };

header.header
  ul.header__nav
    each link, title in menu
      li
        if selected === title
          a.navigation-link.navigation-link--active(href=link)= title
        else
          a.navigation-link(href=link)= title
  div.header__actions
    div.header__action-col
      a.SG-nav-icons__item(title="Search for components",href='javascript:void(0)',data-d-search-box-trigger)
        i.icon.icon--l.ic-search
    div.header__action-col
      a.SG-nav-icons__item(href="https://holidaypirates.github.com/nucleus", title="Help and Documentation", target="_blank")
        i.icon.icon--l.ic-help
