//-
 * layout.pug -- Provides basic page skeleton
 *
 * Copyright (C) 2016 Michael Seibt
 *
 * With contributions from: -
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.

include ./toc.pug


doctype html
html(lang="en")
  head
    title #{meta.title}::
      block title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="styles/app.css",  rel="stylesheet")
    each css in meta.css
      link(href=css,  rel="stylesheet")
    -if(meta.counterCss)
      link(href=meta.counterCss,  rel="stylesheet")
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

  body.app-layout
    script var index = !{JSON.stringify(index)}

    div.SG-search
      div.SG-search__overlay
      select(type="search", placeholder="Start typing what you are looking for ...", data-d-search-box)


    div.app-layout__sidebar
      include ./sidebar.pug

    div.app-layout__main-container
      include ./header.pug

      div.app-layout__content-container.grid
        div.col--fixed.SG-menu
        div.content--fixed-width.content.col
          //- div.SG-search
           * div.SG-search__overlay
           * select(type="search", placeholder="Start typing what you are looking for ...", data-d-search-box)
          block content

    script(src="scripts/app.js")
    -if(meta.scripts)
        each script in meta.scripts
            script(src=script)
