//-
 * sections.pug -- Render a list of nested sections
 *
 * Copyright (C) 2016 Michael Seibt
 *
 * With contributions from: -
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.

include ./components.pug

mixin section-second-level ( items )
  each elements, title in items
    .SG-row.SG-section
      .SG-gr-12
        h2.heading_h2--underline(id='_'+title) #{title}

    //- Entities in this section
    -if(title === '_e')
      +components(elements)
    -else if(title === 'Grid/spacing sizings' || title === 'Typography sizings')
      div.grid.grid__per-row--4
        +section-nth-level ( elements, [], title)
    -else
      //- Otherwise, it's a subsection
      +section-nth-level ( elements, [], title)

mixin section-nth-level ( items, parents, toplevel)
  each elements, title in items

    //- Entities in this section
    if title === '_e'
      if (toplevel === 'Colors')
        div.grid.grid__per-row--4
          +components(elements)
      else
        +components(elements)
    else
      //- Otherwise, it's a subsection
      if (title !== 'Other') && elements._e
        .SG-row.SG-section
          .SG-gr-12
            if parents.length > 0
              h3 #{parents.join(' > ')} &gt; #{title}
            else
              h3(id='_' + toplevel + '_' + title) #{title}

      +section-nth-level ( elements, parents.concat([title]), toplevel)
