.sidebar
    a(href="index.html").sidebar__logo
        span.sidebar__logo-icon.sidebar__logo-icon--endpoint
    .sidebar__icon-tray
        a(href="nuclides.html").sidebar__icon
            i.far.fa-dot-circle
            span Nuclides
        a(href="atoms.html").sidebar__icon
            i.fas.fa-atom
            span Atoms
        a(href="molecules.html").sidebar__icon
            i.fas.fa-dna
            span Molecules
        a(href="structures.html").sidebar__icon
            i.far.fa-building
            span Structures