/**
 * @atom Basic button
 * @section Buttons
 * @modifiers
 *  .button--primary Primary button with primary color background
 *  .button--secondary Secondary button with secondary color background
 *  .button--fixed fixed width button (10rem)
 *  .button-xl Button stretched to a full 100% width
 * @markup
 *  <button class="button--fixed">Default button</button>
 *  <button class="button--primary button--fixed">Primary button</button>
 *  <button class="button--secondary">Secondary button</button>
 *  <button class="button--success">Success button</button>
 *  <button class="button--warn">Warn button</button>
 *  <br/>
 *  <a class="button button--fixed">Button class</a>
 *  <a class="button button--primary button--fixed">Button class</a>
 *  <a class="button button--secondary">Button class</a>
 *  <br/>
 *  <a class="button button--fixed"><i class="icon ic-code"></i> Icon Button</a>
 *  <a class="button button--primary button--fixed"><i class="icon ic-code"></i> Icon Button</a>
 *  <a class="button button--secondary"><i class="icon ic-code"></i> Icon Button</a>
 *  <br/>
 *  <button class="button--primary" disabled>disabled button</button>
 *  <br/>
 *  <button class="button--xl">100% button</button>
 */
button,
.button {
  @include transition(all);
  text-align: center;
  padding: $size-grid-gutter-xs $size-grid-gutter-s;
  color: $color-contrast;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid $color-contrast;
  background: none;
  font-size: 1rem;
  margin: $size-grid-gutter-xs;
  cursor: pointer;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: $size-grid-gutter;

  &--fixed {
    width: 10.9090rem;
  }

  &--xl {
    width: 100%;
    padding: $size-grid-gutter 0;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    border-color: opacify($color-contrast, .6);
    color:  opacify($color-contrast, .6);
  }

  &--primary {
    background: $color-primary;
    border-color: $color-primary;
    color: $color-contrast;

    &:hover {
      border-color: opacify($color-primary, .5);
      background-color: opacify($color-primary, .5);
      color: $color-contrast;
    }
  }

  &--secondary {
    background: $color-secondary;
    border-color: $color-secondary;
    color: $color-contrast;

    &:hover {
      border-color: opacify($color-secondary, .5);
      background-color: opacify($color-secondary, .5);
      color: $color-contrast;
    }
  }

  &--success {
    background: $color-success;
    border-color: $color-success;
    color: $color-contrast;

    &:hover {
      border-color: opacify($color-success, .5);
      background-color: opacify($color-success, .5);
      color: $color-contrast;
    }
  }

  &--warn {
    background: $color-warn;
    border-color: $color-warn;
    color: $color-contrast;

    &:hover {
      border-color: opacify($color-warn, .5);
      background-color: opacify($color-warn, .5);
      color: $color-contrast;
    }
  }

  &--wrap {
    width: auto;
    white-space: nowrap;
  }

  > i {
    display: inline-block;
    margin-right: $size-grid-gutter-xs;
    vertical-align: middle;
  }

  &[disabled],
  &[disabled]:hover { // sass-lint:disable-line force-pseudo-nesting
    background: $color-grey;
    color: $color-lighter;
    cursor: not-allowed;
    border: 1px solid $color-dark;
  }
}
