
/**
 * @atom Content block
 * @section Content
 * @markup
 *  <div class="content-row content-block">Regular content-block</div>
 *  <div class="content-row content-block content-block--s">smaller spacing content block</div>
 *  <div class="content-row content-block content-block--l">Larger spacing content block</div>
 *  <div class="content-row content-block content-block--xl">X-Large spacing content block</div>
 */
.content-block {
  background-color: $color-grey;
  padding: 1rem $size-grid-gutter;
  border-radius: 12px;
  align-self: flex-start;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &--s {
    padding: $size-grid-gutter-s;
  }

  &--l {
    padding: $size-grid-gutter-l;
  }

  &--xl {
    padding: $size-grid-gutter-xl;
  }
}

/**
 * .content-row class helps space out rows of elements using the grid gutter sizings
 * @atom Content Row
 * @section Content
 * @markup
 *   <div class="grid">
 *     <div class="col content-block">
 *        <div class="content-row"><h5>default</h5></div>
 *        <div class="content-row">@{lipsum:1:sentence}</div>
 *        <div class="content-row">@{lipsum:1:sentence}</div>
 *     </div>
  *     <div class="col content-block">
 *        <div class="content-row content-row--s"><h5>small</h5></div>
 *        <div class="content-row content-row--s">@{lipsum:1:sentence}</div>
 *        <div class="content-row content-row--s">@{lipsum:1:sentence}</div>
 *     </div>
 *     <div class="col content-block">
 *        <div class="content-row content-row--l"><h5>large</h5></div>
 *        <div class="content-row content-row--l">@{lipsum:1:sentence}</div>
 *        <div class="content-row content-row--l">@{lipsum:1:sentence}</div>
 *     </div>
  *     <div class="col content-block">
 *        <div class="content-row content-row--xl"><h5>x-large</h5></div>
 *        <div class="content-row content-row--xl">@{lipsum:1:sentence}</div>
 *        <div class="content-row content-row--xl">@{lipsum:1:sentence}</div>
 *     </div>
 *   </div>
 */
.content-row {
  margin-top: $size-grid-gutter;

  &:first-child {
    margin-top: 0;
  }

  &--s {
    margin-top: $size-grid-gutter-s;
  }

  &--l {
    margin-top: $size-grid-gutter-l;
  }

  &--xl {
    margin-top: $size-grid-gutter-xl;
  }

  // content-row spacing supercedes heading margins
  > h1,
  > h2,
  > h3,
  > h4,
  > h5 {
    margin: 0;
  }
}

/**
 * @atom Pill
 * @section Content
 * @markup
 *   <p>
 *      <span class="pill">Pill content</span>
 *      <span class="pill pill--primary">primary pill</span>
 *      <span class="pill pill--secondary">secondary pill</span>
 *      <span class="pill pill--success">success pill</span>
 *      <span class="pill pill--warn">warn pill</span>
 *      <span class="pill pill--error">error pill</span>
 *      <span class="pill pill--plain">plain pill</span>
 *   </p>
 *   <p><span class="pill pill--small">Smaller pill</span></p>
 */
.pill {
  @include color-modifiers([background-color]);
  background: $color-lighter;
  padding: .2rem .6rem;
  border-radius: .9rem;
  display: inline-block;
  font-weight: normal;
  color: $color-contrast;

  &--small {
    font-size: $size-text-small;
  }

  &--spaced {
    margin: 0 $size-grid-gutter-s;
  }

  &--action {
    cursor: pointer;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-blackish;
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-blackish;
  }

  &--success {
    background-color: $color-success;
    color: $color-blackish;
  }

  &--warn {
    background-color: $color-warn;
    color: $color-blackish;
  }

  &--error {
    background-color: $color-error;
    color: $color-blackish;
  }

  &--plain {
    background-color: $color-contrast;
    color: $color-blackish;
  }
}

/**
 * @atom info circle
 * @section Content
 * @markup
 *   <div class="grid">
 *     <div class="col">
 *       <div class="info-circle info-circle--l">A</div>
 *     </div>
 *     <div class="col">
 *       <div class="info-circle info-circle--content-s">10%</div>
 *     </div>
 *     <div class="col">
 *       <div class="info-circle info-circle--content-xs">content</div>
 *     </div>
 *     <div class="col">
 *       <div class="info-circle info-circle--primary">B</div>
 *     </div>
 *     <div class="col">
 *       <div class="info-circle info-circle--secondary">C</div>
 *     </div>
 *     <div class="col">
 *       <div class="info-circle info-circle--success">D</div>
 *     </div>
 *     <div class="col">
 *       <div class="info-circle info-circle--warn">E</div>
 *     </div>
 *     <div class="col">
 *       <div class="info-circle info-circle--error">F</div>
 *     </div>
 *   </div>
  * @modifiers
 *  .info-circle--l Larger info circle size
 *  .info-circle--content-xs Extra Small content text size
 *  .info-circle--content-s Small content text size
 *  .info-circle--primary Primary color info circle
 *  .info-circle--secondary Secondary color info circle
 *  .info-circle--success Success color info circle
 *  .info-circle--warn Warn color info circle
 *  .info-circle--error Error color info circle
 */
.info-circle {
  @include transition(all);
  @include color-modifiers((
      color,
      border-color
  ));
  font-size: $size-h1-font;
  border: 3px solid $color-contrast;
  border-radius: 50%;
  width: $size-info-circle;
  height: $size-info-circle;
  display: flex;
  align-items: center;
  justify-content: center;

  &--l {
    width: $size-info-circle-l;
    height: $size-info-circle-l;
  }

  &--content-s {
    font-size: $size-h3-font;
  }

  &--content-xs {
    font-size: $size-h5-font;
  }
}

/**
 * @atom Notification icon
 * @section Content
 * @markup
 *  <div class="grid">
 *    <div class="col">
 *      <span class="notification notification--primary"></span>
 *    </div>
 *    <div class="col">
 *      <span class="notification notification--secondary"></span>
 *    </div>
 *    <div class="col">
 *      <span class="notification notification--success"></span>
 *    </div>
 *    <div class="col">
 *      <span class="notification notification--warn"></span> 
 *    </div>
 *    <div class="col">
 *      <span class="notification notification--error"></span>
 *    </div>
 *  </div>

 */
.notification {
  transition: all .2s ease-in-out;
  font-size: 0;
  border-radius: 50%;

  &--primary {
    border: 5px solid $color-primary;
  }

  &--secondary {
    border: 5px solid $color-secondary;
  }

  &--success {
    border: 5px solid $color-success;
  }

  &--warn {
    border: 5px solid $color-warn;
  }

  &--error {
    border: 5px solid $color-error;
  }
}

/**
 * @atom Tooltip
 * @section Content
 * @markup
 *   <span data-title="data tooltip content">tooltip target, hover over me</span>
 */
*[data-title] {
  position: relative;
  cursor: help;

  &:hover {
    &::before {
      content: attr(data-title);
      position: absolute;
      bottom: -$size-grid-gutter-l;
      display: inline-block;
      padding: $size-grid-gutter-xs $size-grid-gutter-s;
      border-radius: 2px;
      background: $color-blackish;
      color: $color-contrast;
      font-size: 1rem;
      font-family: $font-primary;
      white-space: nowrap;
      font-weight: normal;
    }
  }
}

hr {
  border-top: 1px solid $color-dark;
  border-bottom: 1px solid $color-grey;
  border-left: 0;
  border-right: 0;
  margin: $size-grid-gutter 0;
}
