/**
 * Basic grid where all columns will occupy equal spacing
 * @atom Basic grid
 * @section Grid
 * @markup
 *  <div class="grid">
 *     <div class="col content-block">.col</div>
 *     <div class="col content-block">.col</div>
 *     <div class="col content-block">.col</div>
 *  </div>
 */
.grid {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 (($size-grid-gutter / 2) * -1);
  clear: both;

  &--nogutter {
    margin: 0;

    & > .col {
      padding: 0;
    }
  }

  &--s {
    margin: 0 (($size-grid-gutter-s / 2) * -1);

    > .col {
      margin: 0 ($size-grid-gutter-s / 2);
    }

    &.grid__per-row {
      flex-wrap: wrap;
      display: flex;

      @for $i from 1 through 10 {
        $col-sizing: '#{(100 / $i)}%';

        &--#{$i} > .col {
          width: calc(#{$col-sizing} - #{$size-grid-gutter-s});
          flex-basis: unset;
          flex-grow: unset;
          margin-bottom: $size-grid-gutter-s;
        }
      }
    }
  }

  &--l {
    margin: 0 (($size-grid-gutter-l / 2) * -1);

    > .col {
      margin: 0 ($size-grid-gutter-l / 2);
    }

    &.grid__per-row {
      flex-wrap: wrap;
      display: flex;

      @for $i from 1 through 10 {
        $col-sizing: '#{100 / $i}%';

        &--#{$i} > .col {
          width: calc(#{$col-sizing} - #{$size-grid-gutter-l});
          flex-basis: unset;
          flex-grow: unset;
          margin-bottom: $size-grid-gutter-l;
        }
      }
    }
  }

  &--xl {
    margin: 0 (($size-grid-gutter-xl / 2) * -1);

    > .col {
      margin: 0 ($size-grid-gutter-xl / 2);
    }

    &.grid__per-row {
      flex-wrap: wrap;
      display: flex;

      @for $i from 1 through 10 {
        $col-sizing: '#{100 / $i}%';

        &--#{$i} > .col {
          width: calc(#{$col-sizing} - #{$size-grid-gutter-xl});
          flex-basis: unset;
          flex-grow: unset;
          margin-bottom: $size-grid-gutter-xl;
        }
      }
    }
  }

  &--v-spacing {
    margin-top: $size-grid-gutter;
    margin-bottom: $size-grid-gutter;
  }

  //Horizontal Grid Alignment
  &--start {
    justify-content: flex-start;
  }

  &--center {
    justify-content: center;
  }

  &--end {
    justify-content: flex-end;
  }

  //Column Distribution
  &--around {
    justify-content: space-around;
  }

  &--between {
    justify-content: space-between;
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &__per-row {
    flex-wrap: wrap;
    display: flex;

    @for $i from 1 through 10 {
      $col-sizing: '#{100 / $i}%';

      &--#{$i} > .col {
        width: calc(#{$col-sizing} - #{$size-grid-gutter});
        flex-basis: unset;
        flex-grow: unset;
        margin-bottom: $size-grid-gutter;
      }
    }
  }

}

/**
 * Percentage based grid system using a 12 base column count.
 * @atom Percentage sizing (x / 12)
 * @section Grid
 * @markup
 *  <div class="grid">
 *     <div class="col col--3 content-block">.col.col--3</div>
 *     <div class="col col--2 content-block">.col.col--2</div>
 *     <div class="col content-block">.col (will fill the remaining space)</div>
 *  </div>
 */
.col {
  @include vendor(margin-collapse, collapse);
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  min-width: 0;
  margin: 0 ($size-grid-gutter / 2);

  // Column content alignment modifiers
  &--top {
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
  }

  &--bottom {
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
  }

  &--middle {
    justify-content: center;
    flex-direction: column;
    display: flex;
  }

  &--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &--center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  // Column self alignment modifiers
  &--self-top {
    align-self: flex-start;
  }

  &--self-bottom {
    align-self: flex-end;
  }

  &--self-middle {
    align-self: center;
  }

  // re-order columns
  &--first {
    order: -1;
  }

  &--last {
    order: 1;
  }


  // sizing modifiers
  &--fixed {
    flex: initial;
  }

  // Grow based columns
  @for $i from 2 through 11 {
    &--grow-#{$i} {
      flex-grow: $i !important; // sass-lint:disable-line no-important -- specific rule should always take precedence
    }
  }

  //Percent Based Columns
  @for $i from 1 through 12 {
    &--#{$i} {
      flex-basis: (100% / 12) * $i;
      max-width: (100% / 12) * $i;
    }
  }
}

// sass-lint:disable no-empty-rulesets
/**
* Based on flex-grow this layout style allows for dynamic content distribution.
* These columns will respect their given ratio and resist dropping onto a second row unlike a percentage based column.
* @atom Flex based sizings
* @section Grid
* @markup
*  <div class="grid">
*     <div class="col col--grow-3 content-block">.col.col--grow-3</div>
*     <div class="col col--grow-2 content-block">.col.col--grow-2</div>
*     <div class="col content-block">.col</div>
*  </div>
*/
.col--grow-x {

}


/**
* Defined number of elements per row allows for a single container which will automatically split into x amount of columns
* Works where x is 1-10
* @atom pre defined column count
* @section Grid
* @markup
*  <h5> 2 cols per row </h5>
*  <div class='grid grid__per-row--2'>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*  </div>
*  <h5>3 cols per row </h5>
*  <div class='grid grid__per-row--3'>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*  </div>
*  <h5>4 cols per row</h5>
*  <div class='grid grid__per-row--4'>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*  </div>
*/
.grid--per-row {

}

/**
* Various grid sizes are available
* @atom Grid sizings
* @section Grid
* @markup
*  <h5> small </h5>
*  <div class='grid grid__per-row--3 grid--s'>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*  </div>
*  <h5>large </h5>
*  <div class='grid grid__per-row--3 grid--l'>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*  </div>
*  <h5>x-large</h5>
*  <div class='grid grid__per-row--3 grid--xl'>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*   <div class='col content-block'> .col </div>
*  </div>
*/
.grid--s {

}

/**
* Fixed width columns
* Add in the fixed column class and pass the column a defined width or allow content like an image to dictate the desired width. It's recommended to fill the space with dynamic flex columns.
* You can use any mix of columns however to get the desired layout.
* @atom Fixed width columns
* @section Grid
* @markup
*  <div class="grid">
*     <div class="col col--fixed content-block" style="width: 220px">.col.col--fixed</div>
*     <div class="col content-block">.col</div>
*     <div class="col content-block">.col</div>
*  </div>
*  <div class='grid content-row'>
*    <div class='col col--fixed content-block' style='width:220px;'> Fixed column (.col--fixed) </div>
*    <div class='col col--grow-2 content-block'> Grow 2 column (.col--grow-2)</div>
*    <div class='col content-block'> Auto width column (.col)</div>
*    <div class='col col--3 content-block'>25% (3/12) width column (.col--3)</div>
*   </div>
*/
.col--fixed {

}

/**
* Vertically align the content inside of a column
* @atom Grid column content alignment
* @section Grid
* @markup
*  <div class='grid'>
*   <div class='col col--top content-block' style='height:96px;'>
*     Content aligned to top
*   </div>
*   <div class='col col--middle content-block' style='height:96px;'>
*     Content aligned to middle
*   </div>
*   <div class='col col--bottom content-block' style='height:96px;'>
*     Content aligned to bottom
*   </div>
*  </div>
*  <div class='grid gutter--top'>
*   <div class='col col--left content-block' style='height:96px;'>
*     Content aligned to left
*   </div>
*   <div class='col col--center content-block' style='height:96px;'>
*     Content aligned to center
*   </div>
*   <div class='col col--right content-block' style='height:96px;'>
*     Content aligned to right
*   </div>
*  </div>
*/
.col--top {

}

/**
* Grid horizontal alignment
* @atom Grid horizontal alignment
* @section Grid
* @markup
*  <div class='grid grid-start'>
*   <div class='col col--6 content-block'>
*    .grid--start .col--6
*   </div>
*  </div>
*  <br/>
*  <div class='grid grid--center'>
*   <div class='col col--3 content-block'>.grid--center .col--3</div>
*   <div class='col col--3 content-block'>.grid--center .col--3</div>
*  </div>
*  <br/>
*  <div class='grid grid--end'>
*   <div class='col col--6 content-block'>
*    .grid--end .col--6
*   </div>
*  </div>
*/
.grid--center {

}
// sass-lint:enable no-empty-rulesets

.gutter {
  &--top {
    @include vendor(margin-collapse, seperate);
    margin-top: $size-grid-gutter;
  }

  &--bottom {
    @include vendor(margin-collapse, seperate);
    margin-bottom: $size-grid-gutter;
  }

  &--top-bottom {
    @include vendor(margin-collapse, seperate);
    margin-top: $size-grid-gutter;
  }
}
