/**
 * @atom text input
 * @section Default Form Fields
 * @markup
 *   <input placeholder="input text.." type="text"/>
 *   <input placeholder="search" type="text" class="input--search"/>
 */
input {
  background: none;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $color-contrast-half;
  padding: $size-grid-gutter-xs;
  color: $color-contrast;
  font-size: 1rem;

  &:focus,
  &:active {
    outline: none;
    border-color: $color-contrast !important; // sass-lint:disable-line no-important material override
    color: $color-contrast !important; // sass-lint:disable-line no-important material override

    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    font-size: 1rem;
    font-weight: normal;
    opacity: .5;
    color: $color-contrast;
  }

  &[readonly] {
    border-bottom: 0;
  }
}

/**
 * @atom checkbox input
 * @section Default Form Fields
 * @markup
 *   <input type="checkbox" id="checkbox"/><label for="checkbox">Checkbox label</label>
 */
input[type='checkbox'] {
  @include transition(all);
  @include vendor(appearance, none);
  border: 1px solid $color-lighter;
  width: 1.27rem;
  height: 1.27rem;
  border-radius: .2rem;
  position: relative;
  outline: none;
  vertical-align: middle;
  cursor: pointer;


  &:focus,
  &:active {
    border-color: inherit;
  }

  &:checked {
    border-color: $color-primary;

    &:after {
      content: '';
      width: .72rem;
      height: .72rem;
      border-radius: .1rem;
      background-color: $color-primary;
      top: 2px;
      left: 2px;
      position: absolute;
    }
  }

  & ~label {
    cursor: pointer;
    margin-left: $size-grid-gutter;
  }
}

/**
 * @atom Select input
 * @section Default Form Fields
 * @markup
 *   <select placeholder="please select">
 *      <option>Option 1</option>
 *      <option>Option 2</option>
 *      <option>Option 3</option>
 *      <option>Option 4</option>
 *   </select>
 */
select {
  padding: .8rem;
  font-size: 1rem;
  background: none;
  border: 0;
  border-bottom: 1px solid $color-contrast-half;
  color: $color-contrast;
  width: 100%;

  &:focus,
  &:active {
    border-bottom: 1px solid $color-contrast;
    outline: none;
  }

  option {
    background: $color-grey;
    border: 0;
  }
}
