/**
* @atom .full-height
* @section Helpers
* @markup
*  <div class="grid">
*     <div class="col"><div class="content-block full-height"> small content with full height container</div></div>
*     <div class="col"><div class="content-block"> small content without full height container</div></div>
*     <div class="col"><div class="content-block">@{lipsum:1:sentence}</div></div>
*  </div>
*/

.full-height {
  height: 100%;
}


.scrollable {
  height: 100%;
  overflow-y: scroll;

  &--no-scrollbar {
    overflow-y: -moz-scrollbars-none;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
