// sass-lint:disable force-pseudo-nesting empty-line-between-blocks
/**
* @atom Icon sizings
* @section Icons
* @markup
*  <div class='grid grid--small'>
*     <div class='col col--center'><i class='icon ic-cancel icon--s'></i><br/>.icon--s</div>
*     <div class='col col--center'><i class='icon ic-cancel'></i><br/>.icon--m (default)</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--l'></i><br/>.icon--l</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--xl'></i><br/>.icon--xl</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--xxl'></i><br/>.icon--xxl</div>
*  </div>
*/
.icon {
  // sizes
  &:before,
  &--m:before {
    font-size: 1.4rem;
  }

  &--s:before {
    font-size: 1rem;
  }

  &--l:before {
    font-size: 2.4rem;
  }

  &--xl:before {
    font-size: 3rem;
  }

  &--xxl:before {
    font-size: 4.9090rem;
  }

  &--primary:before {
    color: $color-primary;
  }

  &--secondary:before {
    color: $color-secondary;
  }

  &--success:before {
    color: $color-success;
  }

  &--warn:before {
    color: $color-warn;
  }

  &--error:before {
    color: $color-error;
  }

  &--action {
    opacity: .5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}


/**
* @atom Icon Colours
* @section Icons
* @markup
*  <div class='grid'>
*     <div class='col col--center'><i class='icon ic-cancel icon--l '></i><br/>default</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--l icon--primary'></i><br/>.icon--primary</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--l icon--secondary'></i><br/>.icon--secondary</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--l icon--success'></i><br/>.icon--success</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--l icon--warn'></i><br/>.icon--warn</div>
*     <div class='col col--center'><i class='icon ic-cancel icon--l icon--error'></i><br/>.icon--error</div>
*  </div>
*/
.icon--primary {
// sass-lint:disable-block no-empty-rulesets
}

%icon {
  // sass-lint:disable-block no-important
  @include vendor(font-smoothing, antialiased);
  font-family: 'pollen-icon' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: middle;
}

[data-icon]:before {
  @include vendor(font-smoothing, anitaliased);
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
}

[class^='ic-']:before,
[class*=' ic-']:before,
[data-icon]:before {
  @extend %icon;
}

/**
* @atom Icon Library
* @section Icons
* @markup
*  <h3><a href='/icon-library.html' class='text--primary' target='_blank'><i class='icon ic-link icon--xl'></i> See the icon library</a></h3>
*/
@font-face {
  font-family: 'pollen-icon';
  src: url("#{$pollen-assets-path}/fonts/pollen-icon.eot?d27157cae82db6f42cc2b0181313d199?#iefix") format("embedded-opentype"),
url("#{$pollen-assets-path}/fonts/pollen-icon.woff2?d27157cae82db6f42cc2b0181313d199") format("woff2"),
url("#{$pollen-assets-path}/fonts/pollen-icon.woff?d27157cae82db6f42cc2b0181313d199") format("woff"),
url("#{$pollen-assets-path}/fonts/pollen-icon.ttf?d27157cae82db6f42cc2b0181313d199") format("truetype"),
url("#{$pollen-assets-path}/fonts/pollen-icon.svg?d27157cae82db6f42cc2b0181313d199#pollen-icon") format("svg");
}

i[class^="ic-"]:before, i[class*=" ic-"]:before {
  font-family: pollen-icon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-3d-rotation:before {
  content: '\f101';
}
.ic-ac-unit:before {
  content: '\f102';
}
.ic-access-alarm:before {
  content: '\f103';
}
.ic-access-alarms:before {
  content: '\f104';
}
.ic-access-time:before {
  content: '\f105';
}
.ic-accessibility:before {
  content: '\f106';
}
.ic-accessible:before {
  content: '\f107';
}
.ic-account-balance-wallet:before {
  content: '\f108';
}
.ic-account-balance:before {
  content: '\f109';
}
.ic-account-box:before {
  content: '\f10a';
}
.ic-account-circle:before {
  content: '\f10b';
}
.ic-adb:before {
  content: '\f10c';
}
.ic-add-a-photo:before {
  content: '\f10d';
}
.ic-add-alarm:before {
  content: '\f10e';
}
.ic-add-alert:before {
  content: '\f10f';
}
.ic-add-box:before {
  content: '\f110';
}
.ic-add-circle-outline:before {
  content: '\f111';
}
.ic-add-circle:before {
  content: '\f112';
}
.ic-add-location:before {
  content: '\f113';
}
.ic-add-shopping-cart:before {
  content: '\f114';
}
.ic-add-to-photos:before {
  content: '\f115';
}
.ic-add-to-queue:before {
  content: '\f116';
}
.ic-add:before {
  content: '\f117';
}
.ic-adjust:before {
  content: '\f118';
}
.ic-adm:before {
  content: '\f119';
}
.ic-airline-seat-flat-angled:before {
  content: '\f11a';
}
.ic-airline-seat-flat:before {
  content: '\f11b';
}
.ic-airline-seat-individual-suite:before {
  content: '\f11c';
}
.ic-airline-seat-legroom-extra:before {
  content: '\f11d';
}
.ic-airline-seat-legroom-normal:before {
  content: '\f11e';
}
.ic-airline-seat-legroom-reduced:before {
  content: '\f11f';
}
.ic-airline-seat-recline-extra:before {
  content: '\f120';
}
.ic-airline-seat-recline-normal:before {
  content: '\f121';
}
.ic-airplanemode-active:before {
  content: '\f122';
}
.ic-airplanemode-inactive:before {
  content: '\f123';
}
.ic-airplay:before {
  content: '\f124';
}
.ic-airport-shuttle:before {
  content: '\f125';
}
.ic-alarm-add:before {
  content: '\f126';
}
.ic-alarm-off:before {
  content: '\f127';
}
.ic-alarm-on:before {
  content: '\f128';
}
.ic-alarm:before {
  content: '\f129';
}
.ic-album:before {
  content: '\f12a';
}
.ic-all-inclusive:before {
  content: '\f12b';
}
.ic-all-out:before {
  content: '\f12c';
}
.ic-android:before {
  content: '\f12d';
}
.ic-announcement:before {
  content: '\f12e';
}
.ic-api-config:before {
  content: '\f12f';
}
.ic-app-engine:before {
  content: '\f130';
}
.ic-app-flow:before {
  content: '\f131';
}
.ic-app:before {
  content: '\f132';
}
.ic-apps:before {
  content: '\f133';
}
.ic-archive:before {
  content: '\f134';
}
.ic-ard:before {
  content: '\f135';
}
.ic-arena:before {
  content: '\f136';
}
.ic-arrow-back:before {
  content: '\f137';
}
.ic-arrow-downward:before {
  content: '\f138';
}
.ic-arrow-drop-down-circle:before {
  content: '\f139';
}
.ic-arrow-drop-down:before {
  content: '\f13a';
}
.ic-arrow-drop-left:before {
  content: '\f13b';
}
.ic-arrow-drop-up:before {
  content: '\f13c';
}
.ic-arrow-forward:before {
  content: '\f13d';
}
.ic-arrow-upward:before {
  content: '\f13e';
}
.ic-art-track:before {
  content: '\f13f';
}
.ic-aspect-ratio:before {
  content: '\f140';
}
.ic-assessment:before {
  content: '\f141';
}
.ic-assignment-24px:before {
  content: '\f142';
}
.ic-assignment-ind:before {
  content: '\f143';
}
.ic-assignment-late:before {
  content: '\f144';
}
.ic-assignment-return:before {
  content: '\f145';
}
.ic-assignment-returned:before {
  content: '\f146';
}
.ic-assignment-turned-in:before {
  content: '\f147';
}
.ic-assistant-photo:before {
  content: '\f148';
}
.ic-assistant:before {
  content: '\f149';
}
.ic-attach-file:before {
  content: '\f14a';
}
.ic-attach-money:before {
  content: '\f14b';
}
.ic-attachment:before {
  content: '\f14c';
}
.ic-audiotrack:before {
  content: '\f14d';
}
.ic-autorenew:before {
  content: '\f14e';
}
.ic-av-timer:before {
  content: '\f14f';
}
.ic-backspace:before {
  content: '\f150';
}
.ic-backup:before {
  content: '\f151';
}
.ic-battery-alert:before {
  content: '\f152';
}
.ic-battery-charging-full:before {
  content: '\f153';
}
.ic-battery-full:before {
  content: '\f154';
}
.ic-battery-std:before {
  content: '\f155';
}
.ic-battery-unknown:before {
  content: '\f156';
}
.ic-beach-access:before {
  content: '\f157';
}
.ic-beenhere:before {
  content: '\f158';
}
.ic-beta:before {
  content: '\f159';
}
.ic-block:before {
  content: '\f15a';
}
.ic-blockly:before {
  content: '\f15b';
}
.ic-bluetooth-audio:before {
  content: '\f15c';
}
.ic-bluetooth-connected:before {
  content: '\f15d';
}
.ic-bluetooth-disabled:before {
  content: '\f15e';
}
.ic-bluetooth-searching:before {
  content: '\f15f';
}
.ic-bluetooth:before {
  content: '\f160';
}
.ic-blur-circular:before {
  content: '\f161';
}
.ic-blur-linear:before {
  content: '\f162';
}
.ic-blur-off:before {
  content: '\f163';
}
.ic-blur-on:before {
  content: '\f164';
}
.ic-book:before {
  content: '\f165';
}
.ic-bookmark-border:before {
  content: '\f166';
}
.ic-bookmark:before {
  content: '\f167';
}
.ic-border-all:before {
  content: '\f168';
}
.ic-border-bottom:before {
  content: '\f169';
}
.ic-border-clear:before {
  content: '\f16a';
}
.ic-border-color:before {
  content: '\f16b';
}
.ic-border-horizontal:before {
  content: '\f16c';
}
.ic-border-inner:before {
  content: '\f16d';
}
.ic-border-left:before {
  content: '\f16e';
}
.ic-border-outer:before {
  content: '\f16f';
}
.ic-border-right:before {
  content: '\f170';
}
.ic-border-style:before {
  content: '\f171';
}
.ic-border-top:before {
  content: '\f172';
}
.ic-border-vertical:before {
  content: '\f173';
}
.ic-brackets:before {
  content: '\f174';
}
.ic-brightness-1:before {
  content: '\f175';
}
.ic-brightness-2:before {
  content: '\f176';
}
.ic-brightness-3:before {
  content: '\f177';
}
.ic-brightness-4:before {
  content: '\f178';
}
.ic-brightness-5:before {
  content: '\f179';
}
.ic-brightness-6:before {
  content: '\f17a';
}
.ic-brightness-7:before {
  content: '\f17b';
}
.ic-brightness-auto:before {
  content: '\f17c';
}
.ic-brightness-high:before {
  content: '\f17d';
}
.ic-brightness-low:before {
  content: '\f17e';
}
.ic-brightness-medium:before {
  content: '\f17f';
}
.ic-broken-image:before {
  content: '\f180';
}
.ic-brush:before {
  content: '\f181';
}
.ic-bug-report:before {
  content: '\f182';
}
.ic-build:before {
  content: '\f183';
}
.ic-business-center:before {
  content: '\f184';
}
.ic-business-feature:before {
  content: '\f185';
}
.ic-business:before {
  content: '\f186';
}
.ic-cached:before {
  content: '\f187';
}
.ic-cake:before {
  content: '\f188';
}
.ic-call-end:before {
  content: '\f189';
}
.ic-call-made:before {
  content: '\f18a';
}
.ic-call-merge:before {
  content: '\f18b';
}
.ic-call-missed-outgoing:before {
  content: '\f18c';
}
.ic-call-missed:before {
  content: '\f18d';
}
.ic-call-received:before {
  content: '\f18e';
}
.ic-call-split:before {
  content: '\f18f';
}
.ic-call:before {
  content: '\f190';
}
.ic-camera-alt:before {
  content: '\f191';
}
.ic-camera-enhance:before {
  content: '\f192';
}
.ic-camera-front:before {
  content: '\f193';
}
.ic-camera-rear:before {
  content: '\f194';
}
.ic-camera-roll:before {
  content: '\f195';
}
.ic-camera:before {
  content: '\f196';
}
.ic-cancel:before {
  content: '\f197';
}
.ic-card-giftcard:before {
  content: '\f198';
}
.ic-card-membership:before {
  content: '\f199';
}
.ic-card-travel:before {
  content: '\f19a';
}
.ic-casino:before {
  content: '\f19b';
}
.ic-cast-connected:before {
  content: '\f19c';
}
.ic-cast:before {
  content: '\f19d';
}
.ic-center-focus-strong:before {
  content: '\f19e';
}
.ic-center-focus-weak:before {
  content: '\f19f';
}
.ic-certificates:before {
  content: '\f1a0';
}
.ic-change-history:before {
  content: '\f1a1';
}
.ic-channels:before {
  content: '\f1a2';
}
.ic-chat-bubble-outline:before {
  content: '\f1a3';
}
.ic-chat-bubble:before {
  content: '\f1a4';
}
.ic-chat:before {
  content: '\f1a5';
}
.ic-check-box-outline-blank:before {
  content: '\f1a6';
}
.ic-check-box:before {
  content: '\f1a7';
}
.ic-check-circle:before {
  content: '\f1a8';
}
.ic-check:before {
  content: '\f1a9';
}
.ic-chevron-left:before {
  content: '\f1aa';
}
.ic-chevron-right:before {
  content: '\f1ab';
}
.ic-child-care:before {
  content: '\f1ac';
}
.ic-child-friendly:before {
  content: '\f1ad';
}
.ic-chrome-reader-mode:before {
  content: '\f1ae';
}
.ic-class:before {
  content: '\f1af';
}
.ic-clear-all:before {
  content: '\f1b0';
}
.ic-clear:before {
  content: '\f1b1';
}
.ic-close:before {
  content: '\f1b2';
}
.ic-closed-caption:before {
  content: '\f1b3';
}
.ic-cloud-circle:before {
  content: '\f1b4';
}
.ic-cloud-done:before {
  content: '\f1b5';
}
.ic-cloud-download:before {
  content: '\f1b6';
}
.ic-cloud-off:before {
  content: '\f1b7';
}
.ic-cloud-queue:before {
  content: '\f1b8';
}
.ic-cloud-upload:before {
  content: '\f1b9';
}
.ic-cloud:before {
  content: '\f1ba';
}
.ic-cluster:before {
  content: '\f1bb';
}
.ic-code:before {
  content: '\f1bc';
}
.ic-collections-bookmark:before {
  content: '\f1bd';
}
.ic-collections:before {
  content: '\f1be';
}
.ic-color-lens:before {
  content: '\f1bf';
}
.ic-colorize:before {
  content: '\f1c0';
}
.ic-comment:before {
  content: '\f1c1';
}
.ic-compare-arrows:before {
  content: '\f1c2';
}
.ic-compare:before {
  content: '\f1c3';
}
.ic-compress-menu:before {
  content: '\f1c4';
}
.ic-computer:before {
  content: '\f1c5';
}
.ic-confirmation-number:before {
  content: '\f1c6';
}
.ic-contact-mail:before {
  content: '\f1c7';
}
.ic-contact-phone:before {
  content: '\f1c8';
}
.ic-contacts:before {
  content: '\f1c9';
}
.ic-content-copy:before {
  content: '\f1ca';
}
.ic-content-cut:before {
  content: '\f1cb';
}
.ic-content-duplicate:before {
  content: '\f1cc';
}
.ic-content-paste:before {
  content: '\f1cd';
}
.ic-control-point-duplicate:before {
  content: '\f1ce';
}
.ic-control-point:before {
  content: '\f1cf';
}
.ic-copy-clipboard:before {
  content: '\f1d0';
}
.ic-copyright:before {
  content: '\f1d1';
}
.ic-create-new-folder:before {
  content: '\f1d2';
}
.ic-create:before {
  content: '\f1d3';
}
.ic-credit-card:before {
  content: '\f1d4';
}
.ic-crop-16-9:before {
  content: '\f1d5';
}
.ic-crop-3-2:before {
  content: '\f1d6';
}
.ic-crop-5-4:before {
  content: '\f1d7';
}
.ic-crop-7-5:before {
  content: '\f1d8';
}
.ic-crop-din:before {
  content: '\f1d9';
}
.ic-crop-free:before {
  content: '\f1da';
}
.ic-crop-landscape:before {
  content: '\f1db';
}
.ic-crop-original:before {
  content: '\f1dc';
}
.ic-crop-portrait:before {
  content: '\f1dd';
}
.ic-crop-rotate:before {
  content: '\f1de';
}
.ic-crop-square:before {
  content: '\f1df';
}
.ic-crop:before {
  content: '\f1e0';
}
.ic-cube:before {
  content: '\f1e1';
}
.ic-dashboard:before {
  content: '\f1e2';
}
.ic-data-usage:before {
  content: '\f1e3';
}
.ic-date-range:before {
  content: '\f1e4';
}
.ic-decision-logic:before {
  content: '\f1e5';
}
.ic-dehaze:before {
  content: '\f1e6';
}
.ic-delete-cancel:before {
  content: '\f1e7';
}
.ic-delete:before {
  content: '\f1e8';
}
.ic-description:before {
  content: '\f1e9';
}
.ic-desktop-mac:before {
  content: '\f1ea';
}
.ic-desktop-windows:before {
  content: '\f1eb';
}
.ic-details:before {
  content: '\f1ec';
}
.ic-dev:before {
  content: '\f1ed';
}
.ic-developer-board:before {
  content: '\f1ee';
}
.ic-developer-mode:before {
  content: '\f1ef';
}
.ic-device-hub:before {
  content: '\f1f0';
}
.ic-devices-other:before {
  content: '\f1f1';
}
.ic-devices:before {
  content: '\f1f2';
}
.ic-dialer-sip:before {
  content: '\f1f3';
}
.ic-dialpad:before {
  content: '\f1f4';
}
.ic-directions-bike:before {
  content: '\f1f5';
}
.ic-directions-boat:before {
  content: '\f1f6';
}
.ic-directions-bus:before {
  content: '\f1f7';
}
.ic-directions-car:before {
  content: '\f1f8';
}
.ic-directions-railway:before {
  content: '\f1f9';
}
.ic-directions-run:before {
  content: '\f1fa';
}
.ic-directions-subway:before {
  content: '\f1fb';
}
.ic-directions-transit:before {
  content: '\f1fc';
}
.ic-directions-walk:before {
  content: '\f1fd';
}
.ic-directions:before {
  content: '\f1fe';
}
.ic-disc-full:before {
  content: '\f1ff';
}
.ic-dns:before {
  content: '\f200';
}
.ic-do-not-disturb-alt:before {
  content: '\f201';
}
.ic-do-not-disturb:before {
  content: '\f202';
}
.ic-dock:before {
  content: '\f203';
}
.ic-domain-manager:before {
  content: '\f204';
}
.ic-domain:before {
  content: '\f205';
}
.ic-done-all:before {
  content: '\f206';
}
.ic-done:before {
  content: '\f207';
}
.ic-donut-large:before {
  content: '\f208';
}
.ic-donut-small:before {
  content: '\f209';
}
.ic-downgrade-outline:before {
  content: '\f20a';
}
.ic-downgrade:before {
  content: '\f20b';
}
.ic-drafts:before {
  content: '\f20c';
}
.ic-drag-handle:before {
  content: '\f20d';
}
.ic-drag-indicator:before {
  content: '\f20e';
}
.ic-drive-eta:before {
  content: '\f20f';
}
.ic-dvr:before {
  content: '\f210';
}
.ic-edit-location:before {
  content: '\f211';
}
.ic-edit-properties:before {
  content: '\f212';
}
.ic-edit:before {
  content: '\f213';
}
.ic-eject:before {
  content: '\f214';
}
.ic-email:before {
  content: '\f215';
}
.ic-emoji-events:before {
  content: '\f216';
}
.ic-enhanced-encryption:before {
  content: '\f217';
}
.ic-equalizer:before {
  content: '\f218';
}
.ic-error-outline:before {
  content: '\f219';
}
.ic-error:before {
  content: '\f21a';
}
.ic-event-available:before {
  content: '\f21b';
}
.ic-event-busy:before {
  content: '\f21c';
}
.ic-event-note:before {
  content: '\f21d';
}
.ic-event-seat:before {
  content: '\f21e';
}
.ic-event:before {
  content: '\f21f';
}
.ic-exit-to-app:before {
  content: '\f220';
}
.ic-expand-less:before {
  content: '\f221';
}
.ic-expand-more:before {
  content: '\f222';
}
.ic-explicit:before {
  content: '\f223';
}
.ic-explore:before {
  content: '\f224';
}
.ic-export-alt:before {
  content: '\f225';
}
.ic-export:before {
  content: '\f226';
}
.ic-exposure-neg-1:before {
  content: '\f227';
}
.ic-exposure-neg-2:before {
  content: '\f228';
}
.ic-exposure-plus-1:before {
  content: '\f229';
}
.ic-exposure-plus-2:before {
  content: '\f22a';
}
.ic-exposure-zero:before {
  content: '\f22b';
}
.ic-exposure:before {
  content: '\f22c';
}
.ic-extension:before {
  content: '\f22d';
}
.ic-face:before {
  content: '\f22e';
}
.ic-fast-forward:before {
  content: '\f22f';
}
.ic-fast-rewind:before {
  content: '\f230';
}
.ic-favorite-border:before {
  content: '\f231';
}
.ic-favorite:before {
  content: '\f232';
}
.ic-feedback:before {
  content: '\f233';
}
.ic-fiber-dvr:before {
  content: '\f234';
}
.ic-fiber-manual-record:before {
  content: '\f235';
}
.ic-fiber-new:before {
  content: '\f236';
}
.ic-fiber-pin:before {
  content: '\f237';
}
.ic-fiber-smart-record:before {
  content: '\f238';
}
.ic-file-download:before {
  content: '\f239';
}
.ic-file-upload:before {
  content: '\f23a';
}
.ic-filter-1:before {
  content: '\f23b';
}
.ic-filter-2:before {
  content: '\f23c';
}
.ic-filter-3:before {
  content: '\f23d';
}
.ic-filter-4:before {
  content: '\f23e';
}
.ic-filter-5:before {
  content: '\f23f';
}
.ic-filter-6:before {
  content: '\f240';
}
.ic-filter-7:before {
  content: '\f241';
}
.ic-filter-8:before {
  content: '\f242';
}
.ic-filter-9-plus:before {
  content: '\f243';
}
.ic-filter-9:before {
  content: '\f244';
}
.ic-filter-b-and-w:before {
  content: '\f245';
}
.ic-filter-center-focus:before {
  content: '\f246';
}
.ic-filter-drama:before {
  content: '\f247';
}
.ic-filter-frames:before {
  content: '\f248';
}
.ic-filter-hdr:before {
  content: '\f249';
}
.ic-filter-list:before {
  content: '\f24a';
}
.ic-filter-none:before {
  content: '\f24b';
}
.ic-filter-tilt-shift:before {
  content: '\f24c';
}
.ic-filter-vintage:before {
  content: '\f24d';
}
.ic-filter:before {
  content: '\f24e';
}
.ic-find-in-page:before {
  content: '\f24f';
}
.ic-find-replace:before {
  content: '\f250';
}
.ic-fingerprint:before {
  content: '\f251';
}
.ic-fitness-center:before {
  content: '\f252';
}
.ic-flag:before {
  content: '\f253';
}
.ic-flare:before {
  content: '\f254';
}
.ic-flash-auto:before {
  content: '\f255';
}
.ic-flash-off:before {
  content: '\f256';
}
.ic-flash-on:before {
  content: '\f257';
}
.ic-flight-land:before {
  content: '\f258';
}
.ic-flight-takeoff:before {
  content: '\f259';
}
.ic-flight:before {
  content: '\f25a';
}
.ic-flip-to-back:before {
  content: '\f25b';
}
.ic-flip-to-front:before {
  content: '\f25c';
}
.ic-flip:before {
  content: '\f25d';
}
.ic-folder-multiple:before {
  content: '\f25e';
}
.ic-folder-open:before {
  content: '\f25f';
}
.ic-folder-shared:before {
  content: '\f260';
}
.ic-folder-special:before {
  content: '\f261';
}
.ic-folder:before {
  content: '\f262';
}
.ic-font-download:before {
  content: '\f263';
}
.ic-format-align-center:before {
  content: '\f264';
}
.ic-format-align-justify:before {
  content: '\f265';
}
.ic-format-align-left:before {
  content: '\f266';
}
.ic-format-align-right:before {
  content: '\f267';
}
.ic-format-bold:before {
  content: '\f268';
}
.ic-format-clear:before {
  content: '\f269';
}
.ic-format-color-fill:before {
  content: '\f26a';
}
.ic-format-color-reset:before {
  content: '\f26b';
}
.ic-format-color-text:before {
  content: '\f26c';
}
.ic-format-indent-decrease:before {
  content: '\f26d';
}
.ic-format-indent-increase:before {
  content: '\f26e';
}
.ic-format-italic:before {
  content: '\f26f';
}
.ic-format-line-spacing:before {
  content: '\f270';
}
.ic-format-list-bulleted:before {
  content: '\f271';
}
.ic-format-list-numbered:before {
  content: '\f272';
}
.ic-format-paint:before {
  content: '\f273';
}
.ic-format-quote:before {
  content: '\f274';
}
.ic-format-shapes:before {
  content: '\f275';
}
.ic-format-size:before {
  content: '\f276';
}
.ic-format-strikethrough:before {
  content: '\f277';
}
.ic-format-textdirection-l-to-r:before {
  content: '\f278';
}
.ic-format-textdirection-r-to-l:before {
  content: '\f279';
}
.ic-format-underlined:before {
  content: '\f27a';
}
.ic-forum:before {
  content: '\f27b';
}
.ic-forward-10:before {
  content: '\f27c';
}
.ic-forward-30:before {
  content: '\f27d';
}
.ic-forward-5:before {
  content: '\f27e';
}
.ic-forward:before {
  content: '\f27f';
}
.ic-free-breakfast:before {
  content: '\f280';
}
.ic-fullscreen-exit:before {
  content: '\f281';
}
.ic-fullscreen:before {
  content: '\f282';
}
.ic-functions:before {
  content: '\f283';
}
.ic-gamepad:before {
  content: '\f284';
}
.ic-games:before {
  content: '\f285';
}
.ic-gavel:before {
  content: '\f286';
}
.ic-gesture:before {
  content: '\f287';
}
.ic-get-app:before {
  content: '\f288';
}
.ic-gif:before {
  content: '\f289';
}
.ic-golf-course:before {
  content: '\f28a';
}
.ic-gps-fixed:before {
  content: '\f28b';
}
.ic-gps-not-fixed:before {
  content: '\f28c';
}
.ic-gps-off:before {
  content: '\f28d';
}
.ic-grade:before {
  content: '\f28e';
}
.ic-gradient:before {
  content: '\f28f';
}
.ic-grain:before {
  content: '\f290';
}
.ic-graphic-eq:before {
  content: '\f291';
}
.ic-grid-off:before {
  content: '\f292';
}
.ic-grid-on:before {
  content: '\f293';
}
.ic-group-add:before {
  content: '\f294';
}
.ic-group-work:before {
  content: '\f295';
}
.ic-group:before {
  content: '\f296';
}
.ic-hd:before {
  content: '\f297';
}
.ic-hdr-off:before {
  content: '\f298';
}
.ic-hdr-on:before {
  content: '\f299';
}
.ic-hdr-strong:before {
  content: '\f29a';
}
.ic-hdr-weak:before {
  content: '\f29b';
}
.ic-headset-mic:before {
  content: '\f29c';
}
.ic-headset:before {
  content: '\f29d';
}
.ic-healing:before {
  content: '\f29e';
}
.ic-hearing:before {
  content: '\f29f';
}
.ic-helmet:before {
  content: '\f2a0';
}
.ic-help-outline:before {
  content: '\f2a1';
}
.ic-help:before {
  content: '\f2a2';
}
.ic-hide-code:before {
  content: '\f2a3';
}
.ic-high-quality:before {
  content: '\f2a4';
}
.ic-highlight-off:before {
  content: '\f2a5';
}
.ic-highlight:before {
  content: '\f2a6';
}
.ic-history:before {
  content: '\f2a7';
}
.ic-home:before {
  content: '\f2a8';
}
.ic-horizontal-split:before {
  content: '\f2a9';
}
.ic-hot-tub:before {
  content: '\f2aa';
}
.ic-hotel:before {
  content: '\f2ab';
}
.ic-hourglass-empty:before {
  content: '\f2ac';
}
.ic-hourglass-full:before {
  content: '\f2ad';
}
.ic-http:before {
  content: '\f2ae';
}
.ic-https:before {
  content: '\f2af';
}
.ic-ignore-outline:before {
  content: '\f2b0';
}
.ic-ignore:before {
  content: '\f2b1';
}
.ic-image-aspect-ratio:before {
  content: '\f2b2';
}
.ic-image:before {
  content: '\f2b3';
}
.ic-import-contacts:before {
  content: '\f2b4';
}
.ic-import-export:before {
  content: '\f2b5';
}
.ic-important-devices:before {
  content: '\f2b6';
}
.ic-inbox:before {
  content: '\f2b7';
}
.ic-indeterminate-check-box:before {
  content: '\f2b8';
}
.ic-info-outline:before {
  content: '\f2b9';
}
.ic-info:before {
  content: '\f2ba';
}
.ic-input:before {
  content: '\f2bb';
}
.ic-insert-chart:before {
  content: '\f2bc';
}
.ic-insert-comment:before {
  content: '\f2bd';
}
.ic-insert-drive-file:before {
  content: '\f2be';
}
.ic-insert-emoticon:before {
  content: '\f2bf';
}
.ic-insert-invitation:before {
  content: '\f2c0';
}
.ic-insert-link:before {
  content: '\f2c1';
}
.ic-insert-photo:before {
  content: '\f2c2';
}
.ic-invert-colors-off:before {
  content: '\f2c3';
}
.ic-invert-colors:before {
  content: '\f2c4';
}
.ic-iso:before {
  content: '\f2c5';
}
.ic-key:before {
  content: '\f2c6';
}
.ic-keyboard-arrow-down:before {
  content: '\f2c7';
}
.ic-keyboard-arrow-left:before {
  content: '\f2c8';
}
.ic-keyboard-arrow-right:before {
  content: '\f2c9';
}
.ic-keyboard-arrow-up:before {
  content: '\f2ca';
}
.ic-keyboard-backspace:before {
  content: '\f2cb';
}
.ic-keyboard-capslock:before {
  content: '\f2cc';
}
.ic-keyboard-hide:before {
  content: '\f2cd';
}
.ic-keyboard-return:before {
  content: '\f2ce';
}
.ic-keyboard-tab:before {
  content: '\f2cf';
}
.ic-keyboard-voice:before {
  content: '\f2d0';
}
.ic-keyboard:before {
  content: '\f2d1';
}
.ic-kitchen:before {
  content: '\f2d2';
}
.ic-label-outline:before {
  content: '\f2d3';
}
.ic-label:before {
  content: '\f2d4';
}
.ic-landscape:before {
  content: '\f2d5';
}
.ic-language:before {
  content: '\f2d6';
}
.ic-laptop-chromebook:before {
  content: '\f2d7';
}
.ic-laptop-mac:before {
  content: '\f2d8';
}
.ic-laptop-windows:before {
  content: '\f2d9';
}
.ic-laptop:before {
  content: '\f2da';
}
.ic-launch:before {
  content: '\f2db';
}
.ic-layers-alt:before {
  content: '\f2dc';
}
.ic-layers-clear:before {
  content: '\f2dd';
}
.ic-layers:before {
  content: '\f2de';
}
.ic-leak-add:before {
  content: '\f2df';
}
.ic-leak-remove:before {
  content: '\f2e0';
}
.ic-lens:before {
  content: '\f2e1';
}
.ic-library-add:before {
  content: '\f2e2';
}
.ic-library-books:before {
  content: '\f2e3';
}
.ic-library-music:before {
  content: '\f2e4';
}
.ic-library:before {
  content: '\f2e5';
}
.ic-lightbulb-outline:before {
  content: '\f2e6';
}
.ic-line-style:before {
  content: '\f2e7';
}
.ic-line-weight:before {
  content: '\f2e8';
}
.ic-linear-scale:before {
  content: '\f2e9';
}
.ic-link:before {
  content: '\f2ea';
}
.ic-linked-camera:before {
  content: '\f2eb';
}
.ic-list:before {
  content: '\f2ec';
}
.ic-live-help:before {
  content: '\f2ed';
}
.ic-live-tv:before {
  content: '\f2ee';
}
.ic-local-activity:before {
  content: '\f2ef';
}
.ic-local-airport:before {
  content: '\f2f0';
}
.ic-local-atm:before {
  content: '\f2f1';
}
.ic-local-bar:before {
  content: '\f2f2';
}
.ic-local-cafe:before {
  content: '\f2f3';
}
.ic-local-car-wash:before {
  content: '\f2f4';
}
.ic-local-convenience-store:before {
  content: '\f2f5';
}
.ic-local-dining:before {
  content: '\f2f6';
}
.ic-local-drink:before {
  content: '\f2f7';
}
.ic-local-florist:before {
  content: '\f2f8';
}
.ic-local-gas-station:before {
  content: '\f2f9';
}
.ic-local-grocery-store:before {
  content: '\f2fa';
}
.ic-local-hospital:before {
  content: '\f2fb';
}
.ic-local-hotel:before {
  content: '\f2fc';
}
.ic-local-laundry-service:before {
  content: '\f2fd';
}
.ic-local-library:before {
  content: '\f2fe';
}
.ic-local-mall:before {
  content: '\f2ff';
}
.ic-local-movies:before {
  content: '\f300';
}
.ic-local-offer:before {
  content: '\f301';
}
.ic-local-parking:before {
  content: '\f302';
}
.ic-local-pharmacy:before {
  content: '\f303';
}
.ic-local-phone:before {
  content: '\f304';
}
.ic-local-pizza:before {
  content: '\f305';
}
.ic-local-play:before {
  content: '\f306';
}
.ic-local-post-office:before {
  content: '\f307';
}
.ic-local-printshop:before {
  content: '\f308';
}
.ic-local-see:before {
  content: '\f309';
}
.ic-local-shipping:before {
  content: '\f30a';
}
.ic-local-taxi:before {
  content: '\f30b';
}
.ic-location-city:before {
  content: '\f30c';
}
.ic-location-disabled:before {
  content: '\f30d';
}
.ic-location-off:before {
  content: '\f30e';
}
.ic-location-on:before {
  content: '\f30f';
}
.ic-location-searching:before {
  content: '\f310';
}
.ic-lock-open:before {
  content: '\f311';
}
.ic-lock-outline:before {
  content: '\f312';
}
.ic-lock:before {
  content: '\f313';
}
.ic-logout:before {
  content: '\f314';
}
.ic-looks-3:before {
  content: '\f315';
}
.ic-looks-4:before {
  content: '\f316';
}
.ic-looks-5:before {
  content: '\f317';
}
.ic-looks-6:before {
  content: '\f318';
}
.ic-looks-one:before {
  content: '\f319';
}
.ic-looks-two:before {
  content: '\f31a';
}
.ic-looks:before {
  content: '\f31b';
}
.ic-loop:before {
  content: '\f31c';
}
.ic-loupe:before {
  content: '\f31d';
}
.ic-loyalty:before {
  content: '\f31e';
}
.ic-mail-outline:before {
  content: '\f31f';
}
.ic-mail:before {
  content: '\f320';
}
.ic-map:before {
  content: '\f321';
}
.ic-markunread-mailbox:before {
  content: '\f322';
}
.ic-markunread:before {
  content: '\f323';
}
.ic-memory:before {
  content: '\f324';
}
.ic-menu:before {
  content: '\f325';
}
.ic-merge-type:before {
  content: '\f326';
}
.ic-message:before {
  content: '\f327';
}
.ic-mic-none:before {
  content: '\f328';
}
.ic-mic-off:before {
  content: '\f329';
}
.ic-mic:before {
  content: '\f32a';
}
.ic-minimize:before {
  content: '\f32b';
}
.ic-mms:before {
  content: '\f32c';
}
.ic-mode-comment:before {
  content: '\f32d';
}
.ic-mode-edit:before {
  content: '\f32e';
}
.ic-money-off:before {
  content: '\f32f';
}
.ic-monochrome-photos:before {
  content: '\f330';
}
.ic-mood-bad:before {
  content: '\f331';
}
.ic-mood:before {
  content: '\f332';
}
.ic-more-horiz:before {
  content: '\f333';
}
.ic-more-vert:before {
  content: '\f334';
}
.ic-more:before {
  content: '\f335';
}
.ic-motorcycle:before {
  content: '\f336';
}
.ic-mouse:before {
  content: '\f337';
}
.ic-move-to-inbox:before {
  content: '\f338';
}
.ic-movie-creation:before {
  content: '\f339';
}
.ic-movie-filter:before {
  content: '\f33a';
}
.ic-movie:before {
  content: '\f33b';
}
.ic-music-note:before {
  content: '\f33c';
}
.ic-music-video:before {
  content: '\f33d';
}
.ic-my-location:before {
  content: '\f33e';
}
.ic-nature-people:before {
  content: '\f33f';
}
.ic-nature:before {
  content: '\f340';
}
.ic-navigate-before:before {
  content: '\f341';
}
.ic-navigate-next:before {
  content: '\f342';
}
.ic-navigation:before {
  content: '\f343';
}
.ic-near-me:before {
  content: '\f344';
}
.ic-network-cell:before {
  content: '\f345';
}
.ic-network-check:before {
  content: '\f346';
}
.ic-network-locked:before {
  content: '\f347';
}
.ic-network-wifi:before {
  content: '\f348';
}
.ic-new-releases:before {
  content: '\f349';
}
.ic-next-week:before {
  content: '\f34a';
}
.ic-nfc:before {
  content: '\f34b';
}
.ic-no-encryption:before {
  content: '\f34c';
}
.ic-no-sim:before {
  content: '\f34d';
}
.ic-not-interested:before {
  content: '\f34e';
}
.ic-note-add:before {
  content: '\f34f';
}
.ic-notifications-active:before {
  content: '\f350';
}
.ic-notifications-none:before {
  content: '\f351';
}
.ic-notifications-off:before {
  content: '\f352';
}
.ic-notifications-paused:before {
  content: '\f353';
}
.ic-notifications:before {
  content: '\f354';
}
.ic-offline-bolt:before {
  content: '\f355';
}
.ic-offline-pin:before {
  content: '\f356';
}
.ic-ondemand-video:before {
  content: '\f357';
}
.ic-opacity:before {
  content: '\f358';
}
.ic-open-in-browser:before {
  content: '\f359';
}
.ic-open-in-new:before {
  content: '\f35a';
}
.ic-open-with:before {
  content: '\f35b';
}
.ic-pages:before {
  content: '\f35c';
}
.ic-pageview:before {
  content: '\f35d';
}
.ic-palette:before {
  content: '\f35e';
}
.ic-pan-tool:before {
  content: '\f35f';
}
.ic-panorama-fish-eye:before {
  content: '\f360';
}
.ic-panorama-horizontal:before {
  content: '\f361';
}
.ic-panorama-vertical:before {
  content: '\f362';
}
.ic-panorama-wide-angle:before {
  content: '\f363';
}
.ic-panorama:before {
  content: '\f364';
}
.ic-party-mode:before {
  content: '\f365';
}
.ic-password:before {
  content: '\f366';
}
.ic-pause-circle-filled:before {
  content: '\f367';
}
.ic-pause-circle-outline:before {
  content: '\f368';
}
.ic-pause:before {
  content: '\f369';
}
.ic-payloads-alt:before {
  content: '\f36a';
}
.ic-payloads:before {
  content: '\f36b';
}
.ic-payment:before {
  content: '\f36c';
}
.ic-people-outline:before {
  content: '\f36d';
}
.ic-people:before {
  content: '\f36e';
}
.ic-perm-camera-mic:before {
  content: '\f36f';
}
.ic-perm-contact-calendar:before {
  content: '\f370';
}
.ic-perm-data-setting:before {
  content: '\f371';
}
.ic-perm-device-information:before {
  content: '\f372';
}
.ic-perm-identity:before {
  content: '\f373';
}
.ic-perm-media:before {
  content: '\f374';
}
.ic-perm-phone-msg:before {
  content: '\f375';
}
.ic-perm-scan-wifi:before {
  content: '\f376';
}
.ic-person-add:before {
  content: '\f377';
}
.ic-person-outline:before {
  content: '\f378';
}
.ic-person-pin-circle:before {
  content: '\f379';
}
.ic-person-pin:before {
  content: '\f37a';
}
.ic-person:before {
  content: '\f37b';
}
.ic-personal-video:before {
  content: '\f37c';
}
.ic-pets:before {
  content: '\f37d';
}
.ic-phone-android:before {
  content: '\f37e';
}
.ic-phone-bluetooth-speaker:before {
  content: '\f37f';
}
.ic-phone-forwarded:before {
  content: '\f380';
}
.ic-phone-in-talk:before {
  content: '\f381';
}
.ic-phone-iphone:before {
  content: '\f382';
}
.ic-phone-locked:before {
  content: '\f383';
}
.ic-phone-missed:before {
  content: '\f384';
}
.ic-phone-paused:before {
  content: '\f385';
}
.ic-phone:before {
  content: '\f386';
}
.ic-phonelink-erase:before {
  content: '\f387';
}
.ic-phonelink-lock:before {
  content: '\f388';
}
.ic-phonelink-off:before {
  content: '\f389';
}
.ic-phonelink-ring:before {
  content: '\f38a';
}
.ic-phonelink-setup:before {
  content: '\f38b';
}
.ic-phonelink:before {
  content: '\f38c';
}
.ic-photo-album:before {
  content: '\f38d';
}
.ic-photo-camera:before {
  content: '\f38e';
}
.ic-photo-filter:before {
  content: '\f38f';
}
.ic-photo-library:before {
  content: '\f390';
}
.ic-photo-size-select-actual:before {
  content: '\f391';
}
.ic-photo-size-select-large:before {
  content: '\f392';
}
.ic-photo-size-select-small:before {
  content: '\f393';
}
.ic-photo:before {
  content: '\f394';
}
.ic-picture-as-pdf:before {
  content: '\f395';
}
.ic-picture-in-picture-alt:before {
  content: '\f396';
}
.ic-picture-in-picture:before {
  content: '\f397';
}
.ic-pim-key:before {
  content: '\f398';
}
.ic-pin-drop:before {
  content: '\f399';
}
.ic-place:before {
  content: '\f39a';
}
.ic-play-arrow:before {
  content: '\f39b';
}
.ic-play-circle-filled:before {
  content: '\f39c';
}
.ic-play-circle-outline:before {
  content: '\f39d';
}
.ic-play-for-work:before {
  content: '\f39e';
}
.ic-playlist-add-check:before {
  content: '\f39f';
}
.ic-playlist-add:before {
  content: '\f3a0';
}
.ic-playlist-play:before {
  content: '\f3a1';
}
.ic-plus-one:before {
  content: '\f3a2';
}
.ic-poll:before {
  content: '\f3a3';
}
.ic-polymer:before {
  content: '\f3a4';
}
.ic-pool:before {
  content: '\f3a5';
}
.ic-portable-wifi-off:before {
  content: '\f3a6';
}
.ic-portrait:before {
  content: '\f3a7';
}
.ic-power-input:before {
  content: '\f3a8';
}
.ic-power-settings-new:before {
  content: '\f3a9';
}
.ic-power:before {
  content: '\f3aa';
}
.ic-pregnant-woman:before {
  content: '\f3ab';
}
.ic-present-to-all:before {
  content: '\f3ac';
}
.ic-print:before {
  content: '\f3ad';
}
.ic-public:before {
  content: '\f3ae';
}
.ic-publish:before {
  content: '\f3af';
}
.ic-query-builder:before {
  content: '\f3b0';
}
.ic-question-answer:before {
  content: '\f3b1';
}
.ic-queue-music:before {
  content: '\f3b2';
}
.ic-queue-play-next:before {
  content: '\f3b3';
}
.ic-queue:before {
  content: '\f3b4';
}
.ic-radio-button-checked:before {
  content: '\f3b5';
}
.ic-radio-button-unchecked:before {
  content: '\f3b6';
}
.ic-radio:before {
  content: '\f3b7';
}
.ic-rate-review:before {
  content: '\f3b8';
}
.ic-receipt:before {
  content: '\f3b9';
}
.ic-recent-actors:before {
  content: '\f3ba';
}
.ic-record-voice-over:before {
  content: '\f3bb';
}
.ic-recording-saved:before {
  content: '\f3bc';
}
.ic-recording-temporary:before {
  content: '\f3bd';
}
.ic-redeem:before {
  content: '\f3be';
}
.ic-redo:before {
  content: '\f3bf';
}
.ic-refresh:before {
  content: '\f3c0';
}
.ic-regenerate:before {
  content: '\f3c1';
}
.ic-remove-circle-outline:before {
  content: '\f3c2';
}
.ic-remove-circle:before {
  content: '\f3c3';
}
.ic-remove-from-queue:before {
  content: '\f3c4';
}
.ic-remove-red-eye:before {
  content: '\f3c5';
}
.ic-remove:before {
  content: '\f3c6';
}
.ic-reorder:before {
  content: '\f3c7';
}
.ic-repeat-one:before {
  content: '\f3c8';
}
.ic-repeat:before {
  content: '\f3c9';
}
.ic-replay-10:before {
  content: '\f3ca';
}
.ic-replay-30:before {
  content: '\f3cb';
}
.ic-replay-5:before {
  content: '\f3cc';
}
.ic-replay:before {
  content: '\f3cd';
}
.ic-reply-all:before {
  content: '\f3ce';
}
.ic-reply:before {
  content: '\f3cf';
}
.ic-report-problem:before {
  content: '\f3d0';
}
.ic-report:before {
  content: '\f3d1';
}
.ic-request:before {
  content: '\f3d2';
}
.ic-response:before {
  content: '\f3d3';
}
.ic-restaurant-menu:before {
  content: '\f3d4';
}
.ic-restore:before {
  content: '\f3d5';
}
.ic-ring-volume:before {
  content: '\f3d6';
}
.ic-rocket:before {
  content: '\f3d7';
}
.ic-room-service:before {
  content: '\f3d8';
}
.ic-room:before {
  content: '\f3d9';
}
.ic-rotate-90-degrees-ccw:before {
  content: '\f3da';
}
.ic-rotate-left:before {
  content: '\f3db';
}
.ic-rotate-right:before {
  content: '\f3dc';
}
.ic-rounded-corner:before {
  content: '\f3dd';
}
.ic-router:before {
  content: '\f3de';
}
.ic-rowing:before {
  content: '\f3df';
}
.ic-rv-hookup:before {
  content: '\f3e0';
}
.ic-satellite:before {
  content: '\f3e1';
}
.ic-save-alt:before {
  content: '\f3e2';
}
.ic-save:before {
  content: '\f3e3';
}
.ic-scanner:before {
  content: '\f3e4';
}
.ic-schedule:before {
  content: '\f3e5';
}
.ic-school:before {
  content: '\f3e6';
}
.ic-screen-lock-landscape:before {
  content: '\f3e7';
}
.ic-screen-lock-portrait:before {
  content: '\f3e8';
}
.ic-screen-lock-rotation:before {
  content: '\f3e9';
}
.ic-screen-rotation:before {
  content: '\f3ea';
}
.ic-screen-share:before {
  content: '\f3eb';
}
.ic-sd-card:before {
  content: '\f3ec';
}
.ic-sd-storage:before {
  content: '\f3ed';
}
.ic-search-alt:before {
  content: '\f3ee';
}
.ic-search:before {
  content: '\f3ef';
}
.ic-security:before {
  content: '\f3f0';
}
.ic-select-all:before {
  content: '\f3f1';
}
.ic-send:before {
  content: '\f3f2';
}
.ic-service-provider:before {
  content: '\f3f3';
}
.ic-services:before {
  content: '\f3f4';
}
.ic-settings-applications:before {
  content: '\f3f5';
}
.ic-settings-backup-restore:before {
  content: '\f3f6';
}
.ic-settings-bluetooth:before {
  content: '\f3f7';
}
.ic-settings-brightness:before {
  content: '\f3f8';
}
.ic-settings-cell:before {
  content: '\f3f9';
}
.ic-settings-ethernet:before {
  content: '\f3fa';
}
.ic-settings-input-antenna:before {
  content: '\f3fb';
}
.ic-settings-input-component:before {
  content: '\f3fc';
}
.ic-settings-input-composite:before {
  content: '\f3fd';
}
.ic-settings-input-hdmi:before {
  content: '\f3fe';
}
.ic-settings-input-svideo:before {
  content: '\f3ff';
}
.ic-settings-overscan:before {
  content: '\f400';
}
.ic-settings-phone:before {
  content: '\f401';
}
.ic-settings-power:before {
  content: '\f402';
}
.ic-settings-remote:before {
  content: '\f403';
}
.ic-settings-system-daydream:before {
  content: '\f404';
}
.ic-settings-voice:before {
  content: '\f405';
}
.ic-settings:before {
  content: '\f406';
}
.ic-share:before {
  content: '\f407';
}
.ic-shield:before {
  content: '\f408';
}
.ic-shop-two:before {
  content: '\f409';
}
.ic-shop:before {
  content: '\f40a';
}
.ic-shopping-basket:before {
  content: '\f40b';
}
.ic-shopping-cart:before {
  content: '\f40c';
}
.ic-short-text:before {
  content: '\f40d';
}
.ic-shuffle:before {
  content: '\f40e';
}
.ic-signal-cellular-4-bar:before {
  content: '\f40f';
}
.ic-signal-cellular-connected-no-internet-4-bar:before {
  content: '\f410';
}
.ic-signal-cellular-no-sim:before {
  content: '\f411';
}
.ic-signal-cellular-null:before {
  content: '\f412';
}
.ic-signal-cellular-off:before {
  content: '\f413';
}
.ic-signal-wifi-4-bar-lock:before {
  content: '\f414';
}
.ic-signal-wifi-4-bar:before {
  content: '\f415';
}
.ic-signal-wifi-off:before {
  content: '\f416';
}
.ic-sim-card-alert:before {
  content: '\f417';
}
.ic-sim-card:before {
  content: '\f418';
}
.ic-skip-next:before {
  content: '\f419';
}
.ic-skip-previous:before {
  content: '\f41a';
}
.ic-slideshow:before {
  content: '\f41b';
}
.ic-slow-motion-video:before {
  content: '\f41c';
}
.ic-smartphone:before {
  content: '\f41d';
}
.ic-smoke-free:before {
  content: '\f41e';
}
.ic-smoking-rooms:before {
  content: '\f41f';
}
.ic-sms-failed:before {
  content: '\f420';
}
.ic-sms:before {
  content: '\f421';
}
.ic-snooze:before {
  content: '\f422';
}
.ic-sort-by-alpha:before {
  content: '\f423';
}
.ic-sort:before {
  content: '\f424';
}
.ic-sorting-arrow:before {
  content: '\f425';
}
.ic-source-branch:before {
  content: '\f426';
}
.ic-spa:before {
  content: '\f427';
}
.ic-space-bar:before {
  content: '\f428';
}
.ic-speaker-group:before {
  content: '\f429';
}
.ic-speaker-notes:before {
  content: '\f42a';
}
.ic-speaker-phone:before {
  content: '\f42b';
}
.ic-speaker:before {
  content: '\f42c';
}
.ic-spellcheck:before {
  content: '\f42d';
}
.ic-spinner:before {
  content: '\f42e';
}
.ic-spiral:before {
  content: '\f42f';
}
.ic-stacktrace:before {
  content: '\f430';
}
.ic-star-border:before {
  content: '\f431';
}
.ic-star-half:before {
  content: '\f432';
}
.ic-star:before {
  content: '\f433';
}
.ic-stars-circle:before {
  content: '\f434';
}
.ic-stars:before {
  content: '\f435';
}
.ic-status-dot:before {
  content: '\f436';
}
.ic-stay-current-landscape:before {
  content: '\f437';
}
.ic-stay-current-portrait:before {
  content: '\f438';
}
.ic-stay-primary-landscape:before {
  content: '\f439';
}
.ic-stay-primary-portrait:before {
  content: '\f43a';
}
.ic-step:before {
  content: '\f43b';
}
.ic-stop-screen-share:before {
  content: '\f43c';
}
.ic-stop:before {
  content: '\f43d';
}
.ic-storage:before {
  content: '\f43e';
}
.ic-store-mall-directory:before {
  content: '\f43f';
}
.ic-store:before {
  content: '\f440';
}
.ic-straighten:before {
  content: '\f441';
}
.ic-strikethrough-s:before {
  content: '\f442';
}
.ic-style:before {
  content: '\f443';
}
.ic-subdirectory-arrow-left:before {
  content: '\f444';
}
.ic-subdirectory-arrow-right:before {
  content: '\f445';
}
.ic-subject:before {
  content: '\f446';
}
.ic-subscriptions:before {
  content: '\f447';
}
.ic-subtitles:before {
  content: '\f448';
}
.ic-supervisor-account:before {
  content: '\f449';
}
.ic-surround-sound:before {
  content: '\f44a';
}
.ic-swap-calls:before {
  content: '\f44b';
}
.ic-swap-horiz:before {
  content: '\f44c';
}
.ic-swap-vert:before {
  content: '\f44d';
}
.ic-swap-vertical-circle:before {
  content: '\f44e';
}
.ic-switch-camera:before {
  content: '\f44f';
}
.ic-switch-video:before {
  content: '\f450';
}
.ic-sword:before {
  content: '\f451';
}
.ic-sync-disabled:before {
  content: '\f452';
}
.ic-sync-problem:before {
  content: '\f453';
}
.ic-sync:before {
  content: '\f454';
}
.ic-system-update-alt:before {
  content: '\f455';
}
.ic-system-update:before {
  content: '\f456';
}
.ic-tab-unselected:before {
  content: '\f457';
}
.ic-tab:before {
  content: '\f458';
}
.ic-tablet-android:before {
  content: '\f459';
}
.ic-tablet-mac:before {
  content: '\f45a';
}
.ic-tablet:before {
  content: '\f45b';
}
.ic-tag-faces:before {
  content: '\f45c';
}
.ic-tags:before {
  content: '\f45d';
}
.ic-tap-and-play:before {
  content: '\f45e';
}
.ic-terrain:before {
  content: '\f45f';
}
.ic-text-fields:before {
  content: '\f460';
}
.ic-text-format:before {
  content: '\f461';
}
.ic-textsms:before {
  content: '\f462';
}
.ic-texture:before {
  content: '\f463';
}
.ic-theaters:before {
  content: '\f464';
}
.ic-thumb-down:before {
  content: '\f465';
}
.ic-thumb-up:before {
  content: '\f466';
}
.ic-thumbs-up-down:before {
  content: '\f467';
}
.ic-time-to-leave:before {
  content: '\f468';
}
.ic-timelapse:before {
  content: '\f469';
}
.ic-timeline:before {
  content: '\f46a';
}
.ic-timer-10:before {
  content: '\f46b';
}
.ic-timer-3:before {
  content: '\f46c';
}
.ic-timer-off:before {
  content: '\f46d';
}
.ic-timer:before {
  content: '\f46e';
}
.ic-title:before {
  content: '\f46f';
}
.ic-toc:before {
  content: '\f470';
}
.ic-today:before {
  content: '\f471';
}
.ic-toll:before {
  content: '\f472';
}
.ic-tonality:before {
  content: '\f473';
}
.ic-touch-app:before {
  content: '\f474';
}
.ic-toys:before {
  content: '\f475';
}
.ic-track-changes:before {
  content: '\f476';
}
.ic-traffic:before {
  content: '\f477';
}
.ic-transform:before {
  content: '\f478';
}
.ic-translate-model:before {
  content: '\f479';
}
.ic-translate:before {
  content: '\f47a';
}
.ic-trending-down:before {
  content: '\f47b';
}
.ic-trending-flat:before {
  content: '\f47c';
}
.ic-trending-up:before {
  content: '\f47d';
}
.ic-tune:before {
  content: '\f47e';
}
.ic-turned-in-not:before {
  content: '\f47f';
}
.ic-turned-in:before {
  content: '\f480';
}
.ic-tv:before {
  content: '\f481';
}
.ic-type:before {
  content: '\f482';
}
.ic-unarchive:before {
  content: '\f483';
}
.ic-undo:before {
  content: '\f484';
}
.ic-unfold-less:before {
  content: '\f485';
}
.ic-unfold-more:before {
  content: '\f486';
}
.ic-update:before {
  content: '\f487';
}
.ic-updated:before {
  content: '\f488';
}
.ic-upgrade-outline:before {
  content: '\f489';
}
.ic-upgrade:before {
  content: '\f48a';
}
.ic-usb:before {
  content: '\f48b';
}
.ic-used-in:before {
  content: '\f48c';
}
.ic-user:before {
  content: '\f48d';
}
.ic-users:before {
  content: '\f48e';
}
.ic-verified-user:before {
  content: '\f48f';
}
.ic-vertical-align-bottom:before {
  content: '\f490';
}
.ic-vertical-align-center:before {
  content: '\f491';
}
.ic-vertical-align-top:before {
  content: '\f492';
}
.ic-vertical-split:before {
  content: '\f493';
}
.ic-vibration:before {
  content: '\f494';
}
.ic-video-library:before {
  content: '\f495';
}
.ic-videocam-off:before {
  content: '\f496';
}
.ic-videocam:before {
  content: '\f497';
}
.ic-videogame-asset:before {
  content: '\f498';
}
.ic-view-agenda:before {
  content: '\f499';
}
.ic-view-array:before {
  content: '\f49a';
}
.ic-view-carousel:before {
  content: '\f49b';
}
.ic-view-column:before {
  content: '\f49c';
}
.ic-view-comfy:before {
  content: '\f49d';
}
.ic-view-compact:before {
  content: '\f49e';
}
.ic-view-day:before {
  content: '\f49f';
}
.ic-view-headline:before {
  content: '\f4a0';
}
.ic-view-list:before {
  content: '\f4a1';
}
.ic-view-module:before {
  content: '\f4a2';
}
.ic-view-quilt:before {
  content: '\f4a3';
}
.ic-view-stream:before {
  content: '\f4a4';
}
.ic-view-week:before {
  content: '\f4a5';
}
.ic-vignette:before {
  content: '\f4a6';
}
.ic-visibility-off:before {
  content: '\f4a7';
}
.ic-visibility:before {
  content: '\f4a8';
}
.ic-voice-chat:before {
  content: '\f4a9';
}
.ic-voicemail:before {
  content: '\f4aa';
}
.ic-volume-down:before {
  content: '\f4ab';
}
.ic-volume-mute:before {
  content: '\f4ac';
}
.ic-volume-off:before {
  content: '\f4ad';
}
.ic-volume-up:before {
  content: '\f4ae';
}
.ic-vpn-key:before {
  content: '\f4af';
}
.ic-vpn-lock:before {
  content: '\f4b0';
}
.ic-wallpaper:before {
  content: '\f4b1';
}
.ic-warning:before {
  content: '\f4b2';
}
.ic-watch-later:before {
  content: '\f4b3';
}
.ic-watch:before {
  content: '\f4b4';
}
.ic-wb-auto:before {
  content: '\f4b5';
}
.ic-wb-cloudy:before {
  content: '\f4b6';
}
.ic-wb-incandescent:before {
  content: '\f4b7';
}
.ic-wb-iridescent:before {
  content: '\f4b8';
}
.ic-wb-sunny:before {
  content: '\f4b9';
}
.ic-wc:before {
  content: '\f4ba';
}
.ic-web-asset:before {
  content: '\f4bb';
}
.ic-web:before {
  content: '\f4bc';
}
.ic-weekend:before {
  content: '\f4bd';
}
.ic-whatshot:before {
  content: '\f4be';
}
.ic-widgets:before {
  content: '\f4bf';
}
.ic-wifi-lock:before {
  content: '\f4c0';
}
.ic-wifi-tethering:before {
  content: '\f4c1';
}
.ic-wifi:before {
  content: '\f4c2';
}
.ic-window-minimize:before {
  content: '\f4c3';
}
.ic-work:before {
  content: '\f4c4';
}
.ic-wrap-text:before {
  content: '\f4c5';
}
.ic-youtube-searched-for:before {
  content: '\f4c6';
}
.ic-zoom-in:before {
  content: '\f4c7';
}
.ic-zoom-out-map:before {
  content: '\f4c8';
}
.ic-zoom-out:before {
  content: '\f4c9';
}
