@font-face {
  // sass-lint:disable-block indentation
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans'),
       local('NotoSans'),
       url('#{$pollen-assets-path}/fonts/NotoSans-Regular.woff2') format('woff2'),
       url('#{$pollen-assets-path}/fonts/NotoSans-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  // sass-lint:disable-block indentation
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Sans Bold'),
       local('NotoSans-Bold'),
       url('#{$pollen-assets-path}/fonts/NotoSans-Bold.woff2') format('woff2'),
       url('#{$pollen-assets-path}/fonts/NotoSans-Bold.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
$font-primary: 'Noto Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&family=Cabin:wght@400;500;600;700&display=swap');
$font-headings: 'Rajdhani', 'Helvetica Neue', 'Arial', sans-serif;

/**
 * @atom text
 * @section Typography
 * @markup
 *   <p class="text--small"> Small text</p>
 *   <p> Normal text </p>
 *   <p class="text--left">left aligned text</p>
 *   <p class="text--center">center aligned text </p>
 *   <p class="text--right">right aligned text</p>
 *   <p class="text--primary">primary colour text</p>
 *   <p class="text--secondary">secondary colour text</p>
 *   <p class="text--success">success colour</p>
 *   <p class="text--warn">warn colour</p>
 *   <p class="text--error">error colour</p>
 */
.text {
  &--small {
    font-size: $size-text-small;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

  &--primary {
    color: $color-primary;
  }

  &--secondary {
    color: $color-secondary;
  }

  &--success {
    color: $color-success;
  }

  &--warn {
    color: $color-warn;
  }

  &--error {
    color: $color-error;
  }
}

/**
 * heading elements as <hn> or elements using the classes .heading_hn
 * @atom Headings
 * @section Typography
 * @markup
 *  <h1>Heading 1</h1>
 *  <h2>Heading 2</h2>
 *  <h3>Heading 3</h3>
 *  <h4>Heading 4</h4>
 *  <h5>Heading 5</h5>
 *  <br/>
 *  <h2 class="heading__h2--underline">Heading 2 underlined</h2>
 *  <h3 class="heading__h3--underline">Heading 3 underlined</h3>
 *  <h4 class="heading__h4--underline">Heading 4 underlined</h4>
 */
h1,
.heading__h1 {
  font-family: $font-headings;
  font-size: $size-h1-font;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-contrast;
}

h2,
.heading__h2 {
  font-family: $font-headings;
  font-size: $size-h2-font;
  font-weight: bold;
  color: $color-contrast;
  line-height: 3.3rem;
  margin: $size-grid-gutter 0;

  &--underline {
    border-bottom: 1px solid $color-primary;
  }
}

h3,
.heading__h3 {
  font-family: $font-headings;
  font-size: $size-h3-font;
  font-weight: bold;
  color: $color-contrast;
  margin: $size-grid-gutter 0;
  line-height: 2.8rem;

  &--underline {
    border-bottom: 1px solid $color-secondary;
  }
}

h4,
.heading__h4 {
  font-family: $font-primary;
  font-size: $size-h4-font;
  font-weight: bold;
  color: $color-contrast;
  margin: 1rem 0;
  line-height: 2.8rem;

  &--underline {
    border-bottom: 1px solid $color-contrast-half;
  }

  &--primary {
    color: $color-primary;
  }

  &--secondary {
    color: $color-secondary;
  }
}

h5,
.heading__h5 {
  font-size: $size-h5-font;
  font-family: $font-primary;
  font-weight: bold;
}

input {
  font-family: $font-primary;
}

/**
 * @atom Text link
 * @section Links
 * @modifiers
 *  .text-link--primary Use the primary color for the link
 *  .text-link--secondary Use the secondary color for the link
 * @markup
 *  <p><a href="#">default link style</a></p>
 *  <p><a href="#" class="text-link--primary">Primary text link</a></p>
 *  <p><a href="#" class="text-link--secondary">Secondary text link</a></p>
 */
a,
.text-link {
  font-weight: bold;
  text-decoration: none;
  color: $color-contrast;

  &--primary {
    color: $color-primary;
  }

  &--secondary {
    color: $color-secondary;
  }
}

/**
 * @atom Navigation link
 * @section Links
 * @modifiers
 *  .navigation-link--active an active link
 *  .navigation-link:hover hover state of link
 * @markup
 *  <a class="navigation-link">Navigation item 1</a> <a class="navigation-link navigation-link--active">Active navigation item</a>
 */
.navigation-link {
  color: $color-contrast-half;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  padding: 1.1rem;
  cursor: pointer;
  display: inline-block;

  &--active {
    color: $color-primary;
    border-bottom: 1px solid $color-primary;

    &:hover {
      color: $color-primary;
    }
  }

  &:hover {
    color: $color-contrast;
  }
}
