// component.scss -- Component preview composition
//
// Copyright (C) 2016 Michael Seibt
//
// With contributions from: -
//
// This software may be modified and distributed under the terms
// of the MIT license. See the LICENSE file for details.

.SG-component {
  margin-bottom: 75px;

  .SG-component__title {
    color: $color--dark-gray;
    font-size: 21px;
  }

  .SG-component__preview {
    margin-bottom: 2em;
  }

  // Make the first child an inline-block
  .SG-component__preview--inline {
    & > * {
      display: inline-block !important;
    }
  }

  .SG-component__preview--description {
    margin-top: 1.5em;
  }
}

.SG-section {
  margin-top: 30px;
}
