// header.scss -- Header bar styles
//
// Copyright (C) 2016 Michael Seibt
//
// With contributions from:
//  - Thomas Carlson (@thomasoc)
//
// This software may be modified and distributed under the terms
// of the MIT license. See the LICENSE file for details.

/**
 * Header bar with logo, navigation, and tool icons at the top of the page.
 *
 * @structure Header
 * @flag full-width
 * @markup
 *  <div class="SG-header">
 *    @{include:.SG-logo}
 *    @{include:.SG-nav-icons}
 *    @{include:.SG-nav}
 *  </div>
 * @script
 *    $('body').on('click','button',function(){
 *        $(this).doSomething();
 *    });
 */

.SG-header {
  @include reset();
  @include clearAfter();
  border-bottom: 1px solid $color--whitesmoke;
  padding: 0 40px;
  margin-bottom: 100px;
  position: relative;

  &::before {
    content: '';
    background: linear-gradient(to bottom, black, $color-dark);
    height: 39px;
    display: block;
    background-size: 131%;
    border-radius: 0 0 100% 100%;
    position: absolute;
    bottom: -40px;
    width: calc(100% - 80px);
    box-shadow: 0 -23px 14px $color-dark inset;

  }

  .SG-logo {
    float: left;
    margin-top: 8px;
  }

  .SG-nav-icons {
    float: right;
  }

  .SG-nav {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 270px;
  }
}
