// page.scss -- Basic page properties
//
// Copyright (C) 2016 Michael Seibt
//
// With contributions from: -
//
// This software may be modified and distributed under the terms
// of the MIT license. See the LICENSE file for details.

.SG-page {
  margin: 0;
  padding: 0 0 100px;
  overflow-x: hidden;
}

