// typography.scss -- Typography related styles
//
// Copyright (C) 2016 Michael Seibt
//
// With contributions from: -
//  - Ryan Potter (www.ryanpotter.co.nz)
//
// This software may be modified and distributed under the terms
// of the MIT license. See the LICENSE file for details.

/**
 * Headlines which visually separate and introduce content. Both used on Nucleus
 * pages and the documentation pages.
 *
 * @atom Headlines
 * @section Typography
 * @markup
 *  <div class="SG-h1">Headline H1</div>
 *  <div class="SG-h2">Headline H2</div>
 *  <div class="SG-h3">Headline H3</div>
 *  <div class="SG-h4">Headline H4</div>
 */

.SG-h1 {
  @include lato(300);

  padding: 0;
  margin: 0;
  font-size: 42px;
  color: $color--accent;
  margin-bottom: 1em;
}

.SG-h2 {
  color: $color--accent;
  font-size: 21px;
  border-bottom: 1px solid $color--light-gray;
  padding: 20px 0;
  margin-bottom: 1.5em;
}

.SG-h3 {
  color: $color-contrast-half;
  font-size: 21px;
  margin: 2.5em 0  1.5em;
}

.SG-h4 {
  color: $color--accent;
  padding-bottom: 1em;
  margin: 1em 0;
  border-bottom: 1px dashed $color--light-gray;
}

.SG-h5 {
  color: $color-contrast-half;
  font-size: 14px;
  margin: 1em 0;
}

/**
 * Generic paragraph style for medium to long blocks of text. This element
 * is using the @{lipsum} substitution to generate two blocks of text.
 *
 * @atom Paragraph
 * @section Typography
 * @markup
 *  <div class="SG-p">
 *    @{lipsum:2:paragraphs}
 *  </div>
 *  <div class="SG-p">
 *    @{lipsum:1:paragraphs}
 *  </div>
 */

.SG-p {
  margin-bottom: 1.5em;
  line-height: 1.75;
  color: $color-contrast-half;
}

/**
 * Block-style paragraph for hints, with a yellow accent color. Best in
 * combination with the generic paragraph class.
 *
 * @atom Hint
 * @section Typography
 * @markup
 *  <div class="SG-hint SG-p">
 *    @{lipsum:1:paragraphs}
 *  </div>
 */
.SG-hint {
  border-radius: 5px;
  border-left: 2px solid $color--hint;
  padding: 1em;
  margin-left: -1em;
  background: lighten($color--hint, 15%);
}

/**
 * Basic styles to decorate text. Since we don't want to use HTML markup to
 * achieve bold text (in order to avoid style conflicts), we utilize those
 * helper classes here. In general, every style coming from Nucleus is prefixed
 * with SG- (for style guide).
 *
 * @atom Basic Text Styles
 * @section Typography
 * @markup
 *  <span class="SG-strong">Bold text</span><br>
 *  <span class="SG-i">Italic text</span><br>
 *  <span class="SG-a">Link-like</span><br>
 *  <span class="SG-a SG-a--pink">Accent Link</span>
 */

.SG-strong {
  color: $color-secondary;
}

.SG-a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid transparent;

  &:hover {
    cursor: pointer;
    border-bottom-color: inherit;
  }

  &.SG-a--pink {
    color: $color--pink;

    &:hover { border-bottom-color: $color--pink; }
  }
}

.SG-i {
  font-style: italic;
}

// Move anchors a bit up to create
// some space to the page border
.SG-anchor {
  display: inline;
  height: 0;
  width: 0;
}
