/**
 * Header bar with logo, navigation, and tool icons at the top of the page.
 * Note: This is just a minified example.
 *
 * @structure Header
 * @section header
 * @markup
 *  <header>
 *    <div class="header__logo">
 *      <div class="header__logo-icon header__logo-icon--endpoint"></div>
 *    </div>
 *    <ul class="header__nav">
 *      <li>
 *        <a class="navigation-link--active">Header link 1</a>
 *      </li>
 *      <li>
 *        <a>Header link 2</a>
 *      </li>
  *      <li>
 *        <a>Header link 3</a>
 *      </li>
 *    </ul>
 *    <div class="header__actions">
 *      <div class="header__action-col"><i class="icon icon--l ic-search"></i></div>
 *    </div>
 *  </header>
 */
header,
.header {
  width: 100%;
  height: $size-header-height;
  display: flex;
  flex-direction: row;
  background: $color-grey;

  &__title {
    flex: 1;
    display: flex;
    padding: $size-grid-gutter;
    align-items: center;
    justify-content: flex-start;
  }

  &__logo {
    margin: $size-grid-gutter-s;
  }

  &__logo-icon {
    width: $size-header-height;
    height: 100%;

    &--endpoint {
      background: url('#{$pollen-assets-path}/img/endpoint-logo.svg') no-repeat center center;
    }
  }

  &__nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      height: 100%;
    }

    a {
      @extend .navigation-link;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      &.navigation-link--active {
        @extend .navigation-link--active;
      }
    }
  }


  &__actions {
    padding: $size-grid-gutter-s;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > .button {
      line-height: 1rem;
    }
  }

  &__action-col {
    margin: 0 ($size-grid-gutter / 2);
    display: flex;
    align-items: center;
  }

  &__action {
    display: inline-block;
    margin: 0 1rem;
    box-sizing: content-box;
    transition: opacity .3s;
    opacity: .7;

    &--active {
      color: $color-primary;
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
