.app-layout {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;

  &__sidebar {
    width: $size-sidebar-width;
    z-index: 10;
    height: 100%;
    border-right: 1px solid $color-dark;
  }

  &__main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__content-container {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: $size-grid-gutter-l;
    margin: 0;
  }
}

.content {
  padding: 1.2rem;

  &--fixed-width {
    max-width: 1200px;
    margin: 0 auto;
  }
}
