/**
 * Default modal with a title, close button, a content section and CTAs
 *
 * @structure Modal default
 * @section Modal
 * @markup
 *  <div class="modal modal--default">
 *    <i class="modal__close-icon icon ic-close"></i>
 *    <div class="modal__title">
 *      Modal title
 *    </div>
 *    <div class="modal__content">
 *      Laudem et dolore magnam aliquam causam non intellegamus, tu paulo ante cum soluta nobis est cur verear, ne interiret at vero eos censes aut in sanguinem suum tam crudelis fuisse, nihil impedit, quo enim ipsam per se esse expetendam et voluptates .
 *      Torquem detraxit hosti et quidem exercitus quid ex ea voluptate velit esse, ut summum bonum sit aut in animis nostris inesse notionem, ut ratione voluptatem et ultimum bonorum, quod maxime placeat, facere nondum depravatum ipsa iudicari etenim quoniam detractis de homine sensibus reliqui nihil est.
 *      In oculis quidem rerum hic tenetur a natura incorrupte atque in voluptate ponit, quod maxime placeat, facere nondum depravatum ipsa iudicari etenim quoniam detractis de commodis suis cogitarent? at id omnia referri oporteat, ipsum per se esse fugiendum itaque aiunt hanc quasi involuta aperiri, altera.
 *    </div>
 *    <div class="modal__actions">
 *      <button class="modal__actions-button button--fixed">Cancel</button>
 *      <button class="modal__actions-button button--secondary button--fixed">Primary action</button>
 *    </div>
 *  </div>
 */

 .modal {
    display: flex;
    flex-direction: column;
    background-color: $color-grey;
    padding: $size-grid-gutter-l;
    color: $color-contrast;
    position: relative;

    &--default {
        max-width: 680px;

        > .modal {
            &__title {
                margin-bottom: $size-grid-gutter;
            }

            &__actions {
                margin-top: $size-grid-gutter;
            }
        }
    }

    &--s {
        max-width: 480px;

        > .modal {
            &__title {
                margin-bottom: $size-grid-gutter-xs;
            }

            &__content {
                opacity: .7;
            }

            &__actions {
                margin-top: $size-grid-gutter-l;
            }
        }
    }

    &__close-icon {
        position: absolute;
        top: $size-grid-gutter;
        right: $size-grid-gutter;

        &:before {
            background-color: $color-slate;
            border: 1px solid $color-slate;
            border-radius: 50%;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__title {
        font-size: $size-h5-font;
    }

    &__content {
        font-size: $size-text-body;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;

        &-button {
            margin: 0 0 0 $size-grid-gutter-s;
            padding-top: $size-grid-gutter-xs + $size-grid-gutter-xs / 2;
            padding-bottom: $size-grid-gutter-xs + $size-grid-gutter-xs / 2;
        }
    }
 }

 /**
 * Default modal with a title, close button, a content section and CTAs
 *
 * @structure Modal small
 * @section Modal
 * @markup
 *  <div class="modal modal--s">
 *    <div class="modal__title">
 *      Are you sure you want to delete this phone?
 *    </div>
 *    <div class="modal__content">
 *      Deleting this question will also permanently remove it.
 *    </div>
 *    <div class="modal__actions">
 *      <button class="modal__actions-button button--fixed">Cancel</button>
 *      <button class="modal__actions-button button--secondary button--fixed">Yes, delete</button>
 *    </div>
 *  </div>
 */
 
 .modal {

 }