.sidebar {
  width: $size-sidebar-width;
  background: $color-grey;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__logo {
    width: 100%;
    height: 2rem;
    display: flex;
    align-self: flex-start;
    margin: 1rem auto;
  }

  &__logo-icon {
    height: 100%;
    width: 100%;
    display: inline-block;

    &--endpoint {
      background: url('#{$pollen-assets-path}/img/endpoint-logo.svg') no-repeat center center;
    }
  }

  &__icon-tray {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    text-align: center;
    display: block;
    padding: 2rem 0;
    position: relative;
    cursor: pointer;

    > i {
      font-size: 2.5rem;
    }

    > span {
      position: absolute;
      display: inline-block;
      left: 1rem;
      background: $color-contrast;
      color: $color-dark;
      font-weight: bold;
      padding: .7rem;
      border-radius: 4px;
      opacity: 0;
      transition: all .5s;
    }

    &:hover {
      > i {
        color: $color-secondary;
      }

      > span {
        opacity: 1;
        left: 4rem;
      }
    }
  }
}

