// sass-lint:disable no-important force-element-nesting force-pseudo-nesting no-qualifying-elements force-attribute-nesting
mat-autocomplete {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $color-contrast;
  vertical-align: middle;
  display: inline-block;
  margin-left: -1rem;
}

mat-icon {
  vertical-align: middle;
}

button[mat-icon-button] {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  border: 0;
  width: auto;
  opacity: .5;
  color: $color-contrast;

  > mat-icon {
    font-size: 1.5rem;
    height: auto;
    width: auto;
    vertical-align: middle;
  }

  &:hover {
    opacity: 1;
    color: $color-contrast;
  }

  &[disabled],
  &[disabled]:hover {
    opacity: .25;
    cursor: not-allowed;
  }
}

input.ng-invalid.ng-touched {
  border-color: $color-error;
}

table tr.mat-footer-row,
table tr.mat-row,
table tr.mat-header-row {
  height: auto;
}

table td.mat-cell,
td.mat-footer-cell,
table th.mat-header-cell {
  padding: inherit;
}

.mat-form-field .mat-form-field-underline {
  background-color: $color-contrast-half;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $color-contrast !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: $color-contrast !important;
}
