@import '../variables/colours';
@import 'overrides';
// Plus imports for other components in your app.

$pollen-typography: mat-typography-config(
  $font-family:   'Noto Sans, sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300, $letter-spacing: -.05em),
  $display-3:     mat-typography-level(56px, 56px, 400, $letter-spacing: -.02em),
  $display-2:     mat-typography-level(45px, 48px, 400, $letter-spacing: -.005em),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 400),
  $title:         mat-typography-level(20px, 32px, 500),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(11px, 24px, 500),
  $body-1:        mat-typography-level(11px, 20px, 400),
  $caption:       mat-typography-level(10px, 20px, 400),
  $button:        mat-typography-level(11px, 14px, 500),
  $input:         mat-typography-level(inherit, 1.125, 400)
);

@mixin mat-option-typography($config) {
  .mat-option {
    font: {
      family: mat-font-family($config);
      size: mat-font-size($config, body-2);
    }
  }
}


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core($pollen-typography);

$pollen-primary: (
  50: #e0f9fc,
  100: #b3eff8,
  200: #80e4f4,
  300: #4dd9ef,
  400: #26d1eb,
  500: #00c9e8,
  600: #00c3e5,
  700: #00bce2,
  800: #00b5de,
  900: #00a9d8,
  A100: #fff,
  A200: #cdf2ff,
  A400: #9ae6ff,
  A700: #80dfff,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000
  )
);

$pollen-secondary: (
  50: #eee7f1,
  100: #d4c2dd,
  200: #b79ac6,
  300: #9a71af,
  400: #85529e,
  500: #6f348d,
  600: #672f85,
  700: #5c277a,
  800: #522170,
  900: #40155d,
  A100: #d296ff,
  A200: #bc63ff,
  A400: #a630ff,
  A700: #9b17ff,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #fff,
    A700: #fff,
  )
);

$mat-dark-theme-background: (
  status-bar: $color-blackish,
  app-bar:    $color-grey,
  background: $color-grey,
  hover:      rgba($color-contrast, .04),
  card:       $color-grey,
  dialog:     $color-grey,
  disabled-button: rgba($color-contrast, .12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map-get($mat-grey, 900),
  selected-disabled-button: map-get($mat-grey, 800),
  disabled-button-toggle: $color-blackish,
  unselected-chip: map-get($mat-grey, 700),
  disabled-list-option: $color-blackish,
);


// Define the default theme (same as the example above).
$pollen-app-primary: mat-palette($pollen-primary);
$pollen-app-secondary:  mat-palette($pollen-secondary, A200, A100, A400);
$pollen-app-theme:   mat-dark-theme($pollen-app-primary, $pollen-app-secondary);


// Include the default theme styles.
@include angular-material-theme($pollen-app-theme);
